@using IranAudioGuide_MainServer.Models
@model UserInfo

@{
    string hrefPrefix = (ViewBag.View == null || (Views)ViewBag.View != Views.AdminIndex) ? Url.Action("Index", "Admin") : "";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title @Model.FullName</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/ionicons.css" rel="stylesheet" />
    @*<link href="~/Content/css/ionic.css" rel="stylesheet" />*@
    <!--[if lte IE 8]><script src="~/Scripts/ie/html5shiv.js"></script><![endif]-->
    <link href="~/Content/css/AdiminMain.css" rel="stylesheet" />
    <!--[if lte IE 8]><link rel="stylesheet" href="~/Content/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="~/Content/css/ie9.css" /><![endif]-->
    <link href="~/Content/css/AdminCustom.css" rel="stylesheet" />

    <link href="~/Content/global/plugins/ladda/ladda-themeless.min.css" rel="stylesheet" />
    <link href="~/Content/global/plugins/toastr/toastr.min.css" rel="stylesheet" />
  

</head>
<body ng-app="AdminPage" ng-controller="AdminController">
    <!-- Header -->
    <div id="header">

        <div class="top">

            <!-- Logo -->
            <div id="logo">
                <span class="image avatar48"><img src="@Model.imgUrl" alt="@Model.FullName" /></span>
                <h1 id="title">@Model.FullName</h1>
                <p>@Model.Email</p>
            </div>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()

                <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <li>
                            <a href="@(hrefPrefix)#top" id="top-link" class="skel-layers-ignoreHref">
                                <span class="icon fa-home">Top</span>
                            </a>
                        </li>
                        @*<li>
                                <a href="@(hrefPrefix)#OnlinePlaces" id="OnlinePlaces-link" class="skel-layers-ignoreHref">
                                    <span class="icon fa-globe">Online Places</span>
                                </a>
                            </li>*@
                        <li>
                            <a href="@(hrefPrefix)#PlaceList" id="PlaceList-link" class="skel-layers-ignoreHref">
                                <span class="icon fa-map-pin">Places</span>
                            </a>
                        </li>
                        <li>
                            <a href="@(hrefPrefix)#NewPlace" id="NewPlace-link" class="skel-layers-ignoreHref">
                                <span class="icon fa-plus-square">New place</span>
                            </a>
                        </li>
                        <li>
                            <a href="@(hrefPrefix)#Packages" id="Packages-link" class="skel-layers-ignoreHref">
                                <span class="icon fa-shopping-cart">Packages</span>
                            </a>
                        </li>
                        <li>
                            <a href="@(hrefPrefix)#Cities" id="Cities-link" class="skel-layers-ignoreHref">
                                <span class="icon fa-map-marker">Cities</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:document.getElementById('logoutForm').submit()" class="skel-layers-ignoreHref">
                                <span class="icon fa-sign-out">Log out</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            }
            <!-- Nav -->

        </div>

        <div class="bottom">

            <!-- Social Icons -->
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>

        </div>

    </div>
    <div>
        @RenderBody()
    </div>
    <!-- Footer -->
    <div id="footer">

        <!-- Copyright -->

        <ul class="copyright">
            <li>&copy; @DateTime.Now.Year - Soroosh Developer Team</li>
            <li>Developer: <a href="#">Soroosh Ansari Mehr</a></li>
        </ul>

    </div>

    <!-- Scripts -->
    @*<script src="~/Scripts/jquery-2.2.3.min.js"></script>*@
    <script src="~/Content/Scripts/jquery.js"></script>
    <script src="~/Content/Scripts/jquery.scrolly.min.js"></script>
    <script src="~/Content/Scripts/jquery.scrollzer.min.js"></script>
    <script src="~/Content/Scripts/skel.min.js"></script>
    <script src="~/Content/Scripts/util.js"></script>
    <script src="~/Content/Scripts/bootstrap.js"></script>
    <script src="~/Content/Scripts/angular.min.js"></script>

    @* loading *@
    <script src="~/Content/global/plugins/ladda/spin.min.js"></script>
    <script src="~/Content/global/plugins/ladda/ladda.min.js"></script>
    <script src="~/Content/global/plugins/ladda/angular-ladda.min.js"></script>
    <script src="~/Content/Scripts/toastr.min.js"></script>
    @* end loading *@

    <!--[if lte IE 8]><script src="~/Scripts/ie/respond.min.js"></script><![endif]-->
    <script src="~/Content/Scripts/AdminMain.js"></script>
    <script src="~/Content/Scripts/AdminCustom.js"></script>
    <script src="~/Content/Scripts/AdminControllers.js"></script>
    <script src="~/Content/Scripts/AdminDirectives.js"></script>
    <script src="~/Content/Scripts/AdminServices.js"></script>
</body>
</html>
