@using IranAudioGuide_MainServer.Models
@{
    string downloadSection = (ViewBag.View == null) ? "/Home/Index/#Download_Application" : ((Views)ViewBag.View == Views.Index) ? "#Download_Application" : "/Home/Index/#Download_Application";
    string contactSection = (ViewBag.View == null) ? "/Home/Index/#contact" : ((Views)ViewBag.View == Views.Index) ? "#contact" : "/Home/Index/#contact";
}
<!DOCTYPE html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#">
<head prefix="og: http://ogp.me/ns# object: http://ogp.me/ns/object#">
    <meta name="title" content="Best audio guide application for Iran travel" />
    <meta name="Description"
          content="Iran audio Guide - Discover iran while listening to facts and stories about modern Iran, ancient history, the arts, persian mythology and above all a step by step guide through notable attractions." />

    <meta property="og:title" content="Best audio guide application for Iran travel" />
    <meta property="og:site_name" content="Iran Audio Guide" />
    <meta property="og:type" content="Audio Guide" />
    <meta property="og:image" content="http://iranaudioguide.com/logo.jpg" />
    <meta property="og:url" content="http://iranaudioguide.com" />
    <meta property="og:description" content="Iran audio Guide - Discover iran while listening to facts and stories about modern Iran, ancient history, the arts, persian mythology and above all a step by step guide through notable attractions." />
    <meta property="fb:admins" content="USER_ID" />

    <meta property="twitter:card" content="Iran Audio Guide" />
    <meta property="twitter:description" content="Iran audio Guide - Discover iran while listening to facts and stories about modern Iran, ancient history, the arts, persian mythology and above all a step by step guide through notable attractions." />
    <meta property="twitter:url" content="http://iranaudioguide.com" />
    <meta property="twitter:title" content="Best audio guide application for Iran travel" />
    <meta property="twitter:image" content="http://iranaudioguide.com/logo.png" />



    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>@ViewBag.Title</title>
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="~/Content/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="~/Content/ie9.css" /><![endif]-->
    <link rel="stylesheet" href="~/Content/Custom1.css" />

    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="landing" ng-app="HomePage"  ng-controller="HomeController">
    <!-- Page Wrapper -->
    <div id="page-wrapper">
        <!-- Header -->
        <header id="header" class="alt">

            <h1><img id="toplogo" src="~/images/IAGSmallWhiteLogo.png" /><a href="@Url.Action("Index", "Home")">Iran Audio Guide</a></h1>
            <nav id="nav">
                <ul>
                    <li class="special">
                        <a href="#menu" class="menuToggle"><span>Menu</span></a>
                        <section id="menu">
                            <ul>
                                <li><a id="HomeLink" href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i>Iran Audio Guide</a></li>
                                <li><a class="scrolly"  href="@downloadSection"><i class="fa fa-download"></i>Download</a></li>
                                <li><a rel="nofollow" href="@Url.Action("Register","Account")"><i class="fa fa-user-plus" style="font-size:16px;"></i>Register</a></li>
                                <li><a rel="nofollow" href="@Url.Action("Login","Account")"><i class="fa fa-sign-in"></i>Log in</a></li>
                                <li><a class="scrolly"  rel="nofollow" href="@contactSection"><i class="fa fa-at"></i>Contact Us</a></li>
                            </ul>
                        </section>
                    </li>
                </ul>
            </nav>
        </header>

        @RenderBody()


    </div>


    <link rel="stylesheet" href="~/Content/loading.css" />

    <!-- Scripts -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.scrollex.min.js"></script>
    <script src="~/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/assets/js/skel.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="~/assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/assets/js/main.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-scroll-spy.js"></script>
    <script src="~/Scripts/countUp.js"></script>
    <script src="~/Scripts/angular-countUp.js"></script>
    <script src="~/Scripts/HomeCustom.js"></script>
    <script src="~/Scripts/HomeControllers.js"></script>

    <!-- Quantcast Tag -->
    <script type="text/javascript">
        var _qevents = _qevents || [];

        (function () {
            var elem = document.createElement('script');
            elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
            elem.async = true;
            elem.type = "text/javascript";
            var scpt = document.getElementsByTagName('script')[0];
            scpt.parentNode.insertBefore(elem, scpt);
        })();

        _qevents.push({
            qacct: "p-W5MYZqNRc9gad"
        });
    </script>

    <noscript>
        <div style="display:none;">
            <img src="//pixel.quantserve.com/pixel/p-W5MYZqNRc9gad.gif" border="0" height="1" width="1" alt="Quantcast" />
        </div>
    </noscript>
    <!-- End Quantcast tag -->
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>
