@using IranAudioGuide_MainServer.Models
@{
    string downloadSection = (ViewBag.View == null) ? "/Home/Index/#Download_Application" : ((Views)ViewBag.View == Views.Index) ? "#Download_Application" : "/Home/Index/#Download_Application";
    string contactSection = (ViewBag.View == null) ? "/Home/Index/#contact" : ((Views)ViewBag.View == Views.Index) ? "#contact" : "/Home/Index/#contact";
}
<!DOCTYPE html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#">
<head prefix="og: http://ogp.me/ns# object: http://ogp.me/ns/object#">
    <meta name="title" content="Best audio guide application for Iran travel" />
    <meta name="Description"
          content="Iran audio Guide - Discover iran while listening to facts and stories about modern Iran, ancient history, the arts, persian mythology and above all a step by step guide through notable attractions." />

    <meta property="og:title" content="Best audio guide application for Iran travel" />
    <meta property="og:site_name" content="Iran Audio Guide" />
    <meta property="og:type" content="Audio Guide" />
    <meta property="og:image" content="http://iranaudioguide.com/IAGSITELOGO.png" />
    <meta property="og:url" content="http://iranaudioguide.com" />
    <meta property="og:description" content="Iran audio Guide - Discover iran while listening to facts and stories about modern Iran, ancient history, the arts, persian mythology and above all a step by step guide through notable attractions." />
    <meta property="fb:admins" content="iranaudioguide" />

    <meta property="twitter:card" content="Iran Audio Guide" />
    <meta property="twitter:description" content="Iran audio Guide - Discover iran while listening to facts and stories about modern Iran, ancient history, the arts, persian mythology and above all a step by step guide through notable attractions." />
    <meta property="twitter:url" content="http://iranaudioguide.com" />
    <meta property="twitter:title" content="Best audio guide application for Iran travel" />
    <meta property="twitter:image" content="http://iranaudioguide.com/IAGSITELOGO.png" />



    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>@ViewBag.Title</title>


    @Styles.Render("~/Content/css/minCss")

    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="~/Content/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="~/Content/css/ie9.css" /><![endif]-->

</head>
<body class="landing" ng-app="HomePage" ng-controller="HomeController">
    <!-- Page Wrapper -->
    <div id="page-wrapper">
        <!-- Header -->
        <header id="header" class="alt">

            <h1><img id="toplogo" src="~/images/IAGSmallWhiteLogo.png" /><a href="@Url.Action("Index", "Home")">Iran Audio Guide</a></h1>
            <nav id="nav">
                <ul>
                    <li class="special">
                        <a href="#menu" class="menuToggle"><span>Menu</span></a>
                        <section id="menu">
                            <ul>
                                <li><a id="HomeLink" href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i>Iran Audio Guide</a></li>
                                <li><a class="scrolly" href="@downloadSection"><i class="fa fa-download"></i>Download</a></li>
                                @*<li><a rel="nofollow" href="@Url.Action("Register","Account")"><i class="fa fa-user-plus" style="font-size:16px;"></i>Register</a></li>*@
                                <li><a class="scrolly" rel="nofollow" href="@contactSection"><i class="fa fa-at"></i>Contact Us</a></li>
                                <li ng-hide="user.isAutintication"><a rel="nofollow" href="@Url.Action("Login","Account")"><i class="fa fa-sign-in"></i>Log in</a></li>
                               
                                <li ng-show="user.isAutintication && user.isAdmin == false"><a rel="nofollow" href="@Url.Action("index","user")"><i class="fa fa-sign-in"></i>Profile</a></li>
                                <li ng-show="user.isAutintication && user.isAdmin == true"><a rel="nofollow" href="@Url.Action("index","Admin")"><i class="fa fa-sign-in"></i>Profile</a></li>

                                
                                 <li ng-show="user.isAutintication"><a href="@Url.Action("LogOff", "User")"><i class="fa fa-sign-in"></i>Log out</a></li>
                            </ul>
                        </section>
                    </li>
                </ul>
            </nav>
        </header>

        @RenderBody()


    </div>


    <link rel="stylesheet" href="~/Content/css/loading.css" />
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <!-- Scripts -->
    <!--[if lte IE 8]><script src="~/assets/js/ie/respond.min.js"></script><![endif]-->
    @*<script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.scrollex.min.js"></script>
    <script src="~/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/assets/js/skel.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/Content/Scripts/angular.min.js"></script>
    <script src="~/Content/Scripts/angular-scroll-spy.js"></script>
    <script src="~/Content/Scripts/countUp.js"></script>
    <script src="~/Content/Scripts/angular-countUp.js"></script>
    <script src="~/Content/Scripts/HomeCustom.js"></script>
    <script src="~/Content/Scripts/HomeControllers.js"></script>*@

            @Scripts.Render("~/bundles/minJs")
    <script type="text/javascript">
        angular.module('HomePage', [])
            .config(function ($sceProvider) {
                $sceProvider.enabled(false);
            })
            .run(function () {

            })
            .controller('HomeController', ['$scope', '$http', '$timeout',
                function ($scope, $http, $timeout) {
                    
                    $scope.user = {
                        isAutintication: false,
                        username: "test",
                        isAdmin: false
                    }


                    $http.get('/api/AppManager/GetCurrentUserInfo').success(function (result) {
                        $scope.user.username = result.Email;
                        if (result.RolesName[0] == "Admin")
                            $scope.user.isAdmin = true;
                      
                        $scope.user.isAutintication = true;

                    }).error(function (error, status, headers, config) {
                        $scope.user.isAutintication = false;
                    });



                    $scope.sendEmailConfirmedAgain = function () {
                        $http.get('/Account/SendEmailConfirmedAgain').then(function () {                           
                            $scope.isMsg = true;
                            $timeout(function () {
                                $scope.isMsg = false;
                            }, 50000);
                        }, function (error) {
                            $scope.isMsg = false;
                        });
                    }

                    $scope.newsletters = {};
                    $scope.showPopup = function (nameDevice) {
                        $scope.newsletters.nameDevice = nameDevice;                        
                        $('.form-request').addClass('form-request-show');

                    }
                    $scope.sendEmail = function () {
                        $scope.formRequest.isError = false;
                        if ($scope.formRequest.$invalid)
                        {
                            $scope.formRequest.isError = true;
                            return;

                        }
                        $('.form-request').removeClass('form-request-show');
                        //$('#myModal').modal('hide');
                        var user = {
                            NameDevice: $scope.newsletters.nameDevice,
                            Email: $scope.newsletters.emailForApp
                        };
                        $http.post('/api/UserApi/SaveRequest',user).success(function (result) {
                          

                        }).error(function (error, status, headers, config) {
                         
                        });
                    }
                    $scope.ContactUs = function (model, form) {
                        $scope.overlay = true;
                        if (form.$valid && !model.invalidFile) {
                            method = 'POST';
                            url = '/Home/ContactEmailSender';
                            data = {
                                email: model.email,
                                message: model.message,
                                name: model.name,
                                subject: model.subject
                            };
                            $scope.sent = false;
                            $scope.overlay = true;
                            $http({ method: method, url: url, data: data }).
                              then(function (response) {
                                  switch (response.data.status) {
                                      case respondstatus.success:
                                          $scope.sentMessage = "Thanks! Your message sent successfully!.";
                                          $scope.sent = true;
                                          break;
                                      default:
                                          $scope.sentMessage = "Email sending failed: " + response.data.content;
                                          $scope.sent = true;
                                          break;
                                  }
                                  $timeout(function () {
                                      $scope.overlay = false;
                                      $scope.contactForm.$setPristine();
                                      $scope.ContactFormModel = {};
                                  }, 1000);
                              }, function (response) {
                                  console.log("Request failed");
                                  console.log("status:" + response.status);
                              });
                        }
                    };
                    valid = [true, true, true, true];
                    $scope.ValidationClass = function (i) {
                        return (valid[i]) ? '' : 'sorooshInvalid';
                    }
                    $scope.validator = function (e, i) {
                        valid[i] = (e.target.classList.contains('ng-invalid')) ? false : true;

                    }
                }]);

        var respondstatus =
        {
            success: 0,
            invalidInput: 1,
            ivalidCordinates: 2,
            invalidFileFormat: 3,
            unknownError: 4,
            dbError: 5,
            invalidId: 6,
            forignKeyError: 7
        }
    </script>

    <!-- Quantcast Tag -->
    <script type="text/javascript">
        var _qevents = _qevents || [];

        (function () {
            var elem = document.createElement('script');
            elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
            elem.async = true;
            elem.type = "text/javascript";
            var scpt = document.getElementsByTagName('script')[0];
            scpt.parentNode.insertBefore(elem, scpt);
        })();

        _qevents.push({
            qacct: "p-W5MYZqNRc9gad"
        });
    </script>

    <noscript>
        <div style="display:none;">
            <img src="//pixel.quantserve.com/pixel/p-W5MYZqNRc9gad.gif" border="0" height="1" width="1" alt="Quantcast" />
        </div>
    </noscript>
    <!-- End Quantcast tag -->
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>
