
@using IranAudioGuide_MainServer.App_GlobalResources

@{
    Layout = null;
    //var controller = Url.RequestContext.RouteData.Values["controller"].ToString();
    //var action = Url.RequestContext.RouteData.Values["action"].ToString();
    //var id = Url.RequestContext.RouteData.Values["id"];
    //var lang = Request["lang"] == null ? "en" : Request["lang"].ToString();
}
<!DOCTYPE html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    <meta name="title" content="@ViewBag.Title" />
    <meta name="Description"
          content="Iran audio Guide - @ViewBag.Title" />

    @Styles.Render("~/ProfileCss"+ Global.Lang )
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body onresize="onResizeBody()" ng-app="userApp" ng-controller="userCtrl">
    <div id="wrapper" ng-class="{ 'wrapper-show': profile.isCompletedLoading == false}">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <div class="logo">
                @*// class="sidebar-brand">*@
                <a id="IAGLink" href="http://iranaudioguide.com/">
                    <img src="/images/IAGSITELOGO.png">
                    <div id="IAGTextLink">Iran Audio Guide</div>
                </a>
            </div>
            <div style="background-color: #001644;min-height: 145px;border-top-right-radius: 10px; width:245px; box-shadow: 1px 5px 5px black;">
                <div class="userEmail">
                    <div>
                        <img ng-src="{{user.uImageUrl}}">
                        <span>{{user.FullName}}</span>
                    </div>
                </div>
            </div>

            <ul class="sidebar-nav">
                <li>
                    <a href="http://iranaudioguide.com/">
                        <i class="fa fa-home"></i>
                        @Global.PageProfile
                    </a>
                </li>
                <li class="active">
                    <a ui-sref="Packages" id="btnGetPakage" ng-click="getPackages($event)">
                        <i class="fa fa-shopping-cart"></i>
                        @Global.PageProfile1
                    </a>
                </li>
                <li>
                    <a ui-sref="PackagesPurchased" id="btnGetPakagePurchased" ng-click="getPackagesPurchased($event)">
                        <i class="fa fa-list"></i>
                        @Global.PageProfile10
                    </a>
                </li>
                <li>
                    <a ui-sref="deactivateMobile" ng-click="getPackagesPurchased($event)">
                        <i class="fa fa-mobile"></i>
                        @Global.PageProfile11
                    </a>
                </li>

                <li>
                    <a style="cursor: pointer;" ng-click="LogOff()">
                        <i class="fa fa-sign-out"></i>
                        @Global.PageProfile12
                    </a>
                </li>
                <li id="Langli">

                    @*@Html.Partial("_SelectLangBtn", Global.Lang)*@



                    @*<div class="country">
                        <div class="countrySelected">
                            @foreach (var item in locales.Get)
                            {
                                if (item.Id == lang)
                                {
                                    <span>
                                        <img src="@item.Icon" alt="@item.Id" />
                                        <span class="siteFlagText">@item.Title &emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-gear"></i></span>
                                    </span>
                                    break;
                                }


                            }

                        </div>
                        <div class="countryDropdown">
                            @foreach (var item in locales.Get)
                            {
                                if (item.Id == lang)
                                {
                                    continue;
                                }
                                <a href="@Url.Action("Index", "Home", new { lang = item.Id})" hreflang="@item.Id" lang="@item.Id">
                                    <img src="@item.Icon" alt="@item.Id" />
                                    <span style="cursor: pointer;" class="siteFlagText">@item.Title</span>
                                </a>

                            }

                        </div>


                    </div>*@



                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">

            <div class="container-fluid">
                <div class="menu-mobail visible-xs">
                    <a href="#menu-toggle" id="menu-toggle"><i class="fa fa-bars"></i></a>
                    <span class="menu-username">{{user.FullName }}</span>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-12" id="PkgContainer">


                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->
        </div>

        <div id="FullPageLoading" ng-class="{ 'unload': profile.isCompletedLoading == false, 'load': profile.isCompletedLoading == true}">
            <div id="fpcontainer">
                <img id="IAGLogo" src="~/images/IAGSmallWhiteLogo.png" />
                <div style="text-align:center;">
                    <img id="spinbars" src="~/Content/images/bars.svg" />

                    @*<p id="LoadingText">Loading... <br /> Change the "FullPageLoading" element class from "load" to "unload" using angularJS when whole page is loaded.<br />Set "#LoadingText" style to "display:none"<br /> Done...<br /> Thank you!</p>*@
                </div>
            </div>
        </div>
        </div>
        <!-- /#wrapper -->
        <!-- jQuery -->

        @Scripts.Render("~/Profile/minJs")
    <script>
        //, 'ui.select'
        var userApp = angular.module('userApp', ["ui.router", 'ui.select'])
            .config(['$urlRouterProvider', '$stateProvider', '$sceProvider', function ($urlRouterProvider, $stateProvider, $sceProvider) {
                $sceProvider.enabled(false);

                //
                // For any unmatched url, redirect to /state1
                $urlRouterProvider.otherwise("/profile");
                //
                // Now set up the states
                $stateProvider
                  .state('user', {
                      url: "/profile",
                      //abstract: true,
                      templateUrl: "/@Global.Lang/user/UserProfile",
                      controller: "userCtrl",
                  })

                  .state('PackagesPurchased', {
                      url: "/pakagePurchased",
                      templateUrl: "/@Global.Lang/user/PackagesPurchased",
                      controller: "pakagePurchasedCtrl"


                  })
                    .state('Packages', {
                        url: "/pakages",
                        templateUrl: "/@Global.Lang/user/Packages",
                        controller: "PackagesCtrl"


                    })
                     .state('Payment', {
                         url: "/payment?PackageId&IsChooesZarinpal",
                         templateUrl: function ($stateParams) {
                             try {
                                 var model = "?pacId=" + $stateParams.PackageId + "&IsZarinpal=" + $stateParams.IsChooesZarinpal;
                                 console.log(model)
                                 return "/@Global.Lang/Payment/PaymentWeb" + model;
                             }
                             catch (error) {

                             }
                         },
                         controller: "paymentCtrl"
                     })
                 .state('deactivateMobile', {
                     url: "/deactivateMobile",
                     templateUrl: "/@Global.Lang/user/deactivateMobile",
                     controller: "PackagesCtrl"
                 })
            }])


        ;
    </script>

    @Scripts.Render("~/Profile/ang")
</body>
</html>
