@using IranAudioGuide_MainServer.App_GlobalResources
@{
    Layout = null;
    //var controller = Url.RequestContext.RouteData.Values["controller"].ToString();
    //var action = Url.RequestContext.RouteData.Values["action"].ToString();
    //var id = Url.RequestContext.RouteData.Values["id"];
    //var lang = Request["lang"] == null ? "en" : Request["lang"].ToString();
}
<!DOCTYPE html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    <meta name="title" content="@ViewBag.Title" />
    <meta name="Description" content="Iran audio Guide - @ViewBag.Title" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link href="~/Content/css/profile.css" rel="stylesheet" />
    <link href="~/Content/css/profile_fa.css" rel="stylesheet" />
    @*  @Styles.Render("~/ProfileCss")*@

</head>
<body class="_@Global.Lang" ng-app="userApp" >
    @*<div id="FullPageLoading" class="load" ng-class="{'unload': profile.isCompletedLoading == false}">
        <div id="fpcontainer">
            <img id="IAGLogo" src="@GlobalPath.ImagePath/IAGSITELOGO.png" />
            <div style="text-align:center;">
                <span>@Global.loadingtxt </span>
            </div>
        </div>
    </div>*@

    <header>
        <div class="navbar-fixed z-depth-2">
            <nav class="navbar-material">
                <a href="#!" class="brand-logo">
                    <img src="@GlobalPath.ImagePath/IAGSITELOGO.png">
                </a>  
                <a href="#!" class="brand-logo secondLogo">@Global.IranAudioGuide</a>
                <a href="#" data-activates="slide-out" class="button-collapse">
                 
                    <i class="material-icons">@Global.MenuName</i>
                </a>
            </nav>
        </div>

        <ul id="slide-out" class="side-nav fixed">
            <li>
                <div class="user-view z-depth-1">
                    <div class="background">
                    </div>
                    <a href="#!user"><img class="circle" ng-src="{{user.imgUrl}}"></a>
                    <a href="#!name"><span class="white-text name">{{user.FullName}}</span></a>
                    <a href="#!email"><span class="white-text email">{{user.Email}}</span></a>
                </div>
            </li>
            @*<li><a class="waves-effect waves-teal" href="#!"><i class="fa fa-home"></i> @Global.MenuHome</a></li>*@
            <li><a class="waves-effect waves-teal active" href="/@Global.Lang/User#/pakages"><i class="fa fa-shopping-cart"></i>@Global.Packages</a></li>
            <li><a class="waves-effect waves-teal" href="/@Global.Lang/User#/pakagePurchased"><i class="fa fa-cart-arrow-down"></i>@Global.MenuPurchased</a></li>
            <li><a class="waves-effect waves-teal" href="/@Global.Lang/User#/deactivateMobile"><i class="fa fa-mobile"></i>@Global.MenuDevices</a></li>
            <li><a class="waves-effect waves-teal" href="@Url.Action("LogOff", "User")"> <i class="fa fa-sign-out"></i>@Global.LogOff</a></li>
            <li><div class="divider"></div></li>
            <li><a class="subheader">@Global.ChangeLanguage</a></li>
            <li><a class="waves-effect waves-Blue" href="#!">@Global.LangOtherTitle</a></li>
            <li><div class="divider"></div></li>
            <li><a class="subheader">@Global.Support</a></li>
            <li>
                <a href="mailto:@GlobalPath.EmailAddress" class="waves-effect waves-teal">
                    <i class="fa fa-envelope"></i>@GlobalPath.EmailAddress
                </a>
            </li>
            <li>
                <a href="callto:@Global.Callto" class="waves-effect waves-teal">
                    <i class="fa fa-phone"></i> @Global.NumberPhone
                </a>
            </li>
        </ul>
    </header>
    <main>        
        @RenderBody()
        <div ui-view></div>

    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col m6 s12 brandContainer">
                    <a href="#!">
                        <img src="http://iranaudioguide.net/Images/IAGSITELOGO.png">
                    </a>
                    <h5 class="white-text">@Global.IranAudioGuide</h5>
                    <p class="grey-text text-lighten-4">
                        <i class="fa fa-map-pin"></i>
                        @Global.OfficeAddress
                    </p>
                    <ul class="Tooltips">
                        <li>
                            <a target="_blank" href="https://www.instagram.com/iran.audio.guide/"
                               class="tooltipped" data-position="top" data-delay="50" data-tooltip="Instagram">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.twitter.com/iranaudioguide"
                               class="tooltipped" data-position="top" data-delay="50" data-tooltip="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.facebook.com/iranaudioguide"
                               class="tooltipped" data-position="top" data-delay="50" data-tooltip="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.telegram.me/iranaudioguide"
                               class="tooltipped" data-position="top" data-delay="50" data-tooltip="Telegram">
                                <i class="fa fa-telegram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:@GlobalPath.EmailAddress"
                               class="tooltipped" data-position="top" data-delay="50" data-tooltip="@GlobalPath.EmailAddress">
                                <i class="fa fa-envelope"></i>
                            </a>
                        </li>
                        <li>
                            <a href="callto:@Global.Callto"
                               class="tooltipped" data-position="top" data-delay="50" data-tooltip="Support:@Global.NumberPhone">
                                <i class="fa fa-phone"></i>
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="col m4 offset-m2 s12 GetItOn">
                    <!--<h5 class="white-text">Get it on</h5>-->
                    <div class="col s6 m12">
                        <a href="https://itunes.apple.com/us/app/iran-audio-guide/id1214729999?mt=8">
                            <img alt="Download Iran Audio Guide on the App Store" src="http://iranaudioguide.net/Images/Download_on_the_App_Store_Badge_US-UK_135x40.svg">

                        </a>
                    </div>
                    <div class="col s6 m12">
                        <a href="http://play.google.com/store/apps/details?id=com.IranAudioGuide.android">
                            <img alt="Get Iran Audio Guide on the google play" src="http://iranaudioguide.net/Images/Get_it_on_Google_play.svg">

                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 termsLink">
                        <a class="grey-text text-lighten-4 right" href="/@Global.Lang/home/TermsConditions"> @Global.TermsConditions</a>
                        <span class="linkDivider"> - </span>
                        <a class="grey-text text-lighten-4 right" href="/@Global.Lang/home/PrivacyPolicy">@Global.PrivacyPolicy</a>
                    </div>
                    <div class="col s12 m6 copyRight">
                        &copy;@DateTime.Now.Year- @Global.copyright22
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>t>

    <!-- Angular Material Library -->

    @*@Scripts.Render("~/Profile/minJs")*@

    <script>
        //, 'ui.select'
        var userApp = angular.module('userApp', []);        
        
    </script>


</body>
</html>
