
@model IranAudioGuide_MainServer.Models.SelectLangVM
<div class="country">
    <div class="countrySelected">
        @foreach (var item in Model.langs)
        {
            if (item.Id == Model.currentLang)
            {
                <img src="@item.Icon" alt="@item.Id" />
                <span class="siteFlagText">@item.FullTitle</span>
                <i class="material-icons right">arrow_drop_down</i>
                break;
            }
        }
    </div>
    <div class="countryDropdown">
        @foreach (var item in Model.langs)
        {
            if (item.Id != Model.currentLang)
            {
                <a href="@Url.Action(Model.action, Model.controller, new { lang = item.Id })">
                    <img src="@item.Icon" alt="@item.Title" />
                    <span class="siteFlagText">@item.FullTitle</span>
                </a>
            }
        }

    </div>
</div>

