@using IranAudioGuide_MainServer.App_GlobalResources

@{
    ViewBag.Title = Global.IranAudioGuide;
}
<style>
    footer {
        background-color: #0c1a1e;
        min-height: 350px;
        /*font-family: 'Open Sans', sans-serif;*/
    }

    .footerleft {
        margin-top: 50px;
        padding: 0 36px;
    }

    .logofooter {
        margin-bottom: 10px;
        color: #fff;
        width: 70px !important;
    }

    .footerleft p {
        color: #fff;
        font-size: 12px !important;
        /*font-family: 'Open Sans', sans-serif;*/
        margin-bottom: 10px;
    }

        .footerleft p i {
            width: 25px;
            /*color: #999;*/
            font-size: 16px;
        }


    .paddingtop-bottom {
        margin-top: 50px;
    }

    .footer-ul {
        list-style-type: none;
        padding-left: 0px;
        margin-left: 2px;
    }

        .footer-ul li {
            line-height: 29px;
            font-size: 12px;
        }

            .footer-ul li a {
                color: #a0a3a4;
                transition: color 0.2s linear 0s, background 0.2s linear 0s;
            }

        .footer-ul i {
            margin-right: 10px;
        }

        .footer-ul li a:hover {
            transition: color 0.2s linear 0s, background 0.2s linear 0s;
            color: #ff670f;
        }

    .social:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
    }

    .icon-ul {
        list-style-type: none !important;
        margin: 0px;
        padding: 0px;
    }

        .icon-ul li {
            line-height: 75px;
            width: 100%;
            float: left;
        }

    .icon {
        float: left;
        margin-right: 5px;
    }


    .copyright {
        min-height: 40px;
        background-color: #000000;
        list-style-type: none;
    }

        .copyright p {
            text-align: left;
            color: #FFF;
            padding: 10px 0;
            margin-bottom: 0px;
        }

    .heading7 {
        font-size: 14px;
        font-weight: 700;
        color: #d9d6d6;
        margin-bottom: 22px;
        text-align: center;
    }

    .post p {
        font-size: 12px;
        color: #FFF;
        line-height: 20px;
    }

        .post p span {
            display: block;
            color: #8f8f8f;
        }

    .bottom_ul {
        list-style-type: none;
        float: right;
        margin-bottom: 0px;
        border-bottom: 0;
    }

        .bottom_ul li {
            float: left;
            line-height: 40px;
        }

            .bottom_ul li:after {
                color: #FFF;
                margin-right: 8px;
                margin-left: 8px;
            }

            .bottom_ul li a {
                color: #FFF;
                font-size: 12px;
                border: 0;
            }

    .devider {
        background: url('/Content/admin/img/devider.png') repeat-x center;
        height: 20px;
        position: relative;
        display: block;
        margin-top: 193px;
    }

    .logo1 {
        float: left;
        width: 130px
    }

    .logo2 {
        float: right;
        width: 130px
    }

    .logo3 {
        float: left;
        width: 110px;
        margin: 0px 5px 5px 5px;
    }

    .logo4 {
        float: right;
        width: 110px;
        margin: 0px 5px 5px 5px;
    }

    .logo5 {
        margin-left: 80px;
        width: 110px;
    }

    .getit {
        margin-top: 30px;
        text-align: center
    }

    @@media screen and (min-width:991px) and (max-width:1200px) {
        .logo1 {
            margin-left: -43px;
        }

        .logo3 {
            margin-left: -23px;
        }
    }

    @@media screen and (min-width:426px) and (max-width:575px) {
        .bottom_ul {
            float: left;
            margin-left: 95px;
        }

        .copyright {
            text-align: center !important;
        }
    }

    @@media screen and (min-width:377px) and (max-width:766px) {
        .logo5 {
            margin-left: 37%;
            margin-top: 15px;
        }
    }

    @@media screen and (min-width:320px) and (max-width:370px) {
        .logo5 {
            margin-left: 90px;
        }
    }

    @@media screen and (min-width:768px) and (max-width:991px) {
        .logo5 {
            margin-left: 43%;
        }
    }

    @@media screen and (min-width:992px) and (max-width:1199px) {
        .logo5 {
            margin-left: 20%;
        }
    }

    @@media screen and (min-width:371px) and (max-width:376px) {
        .logo5 {
            margin-left: 120px;
        }
    }

    @@media screen and (min-width:576px) and (max-width:985px) {
        .bottom_ul {
            margin-top: -60px;
        }
    }

    @@media screen and (min-width:768px) and (max-width:990px) {
        .logo1 {
            margin-left: 225px;
        }

        .logo2 {
            margin-right: 225px;
        }

        .logo3 {
            margin-left: 225px;
        }

        .logo4 {
            margin-right: 225px;
        }
    }

    @@media only screen and (max-width: 490px) {
        .copyright {
            text-align: center !important;
        }

        .bottom_ul li a {
            font-size: 10px;
        }
    }

    @@media only screen and (width: 425px) {
        .bottom_ul {
            margin-left: 70px;
            float: left;
        }

            .bottom_ul li a {
                font-size: 10px;
            }
    }

    @@media only screen and (max-width: 424px) {
        .bottom_ul {
            margin-left: 45px;
            float: left;
        }

            .bottom_ul li a {
                font-size: 10px;
            }
    }

    @@media only screen and (max-width: 370px) {
        .bottom_ul {
            margin-left: 15px;
            margin-bottom: -6px;
            float: left;
        }

            .bottom_ul li a {
                font-size: 10px;
            }
    }



    @@media only screen and (width: 1024px) {
        .logo1 {
            margin-left: -53px;
        }

        .logo2 {
            margin-right: 0px;
        }

        .logo3 {
            margin-left: -35px;
        }

        .logo4 {
            margin-right: -2px;
        }
    }
</style>

@*<head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link reas/5263++////l="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>*@

@*<link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">*@
<!--footer start from here-->
<footer>
    <div class="container container1">
        <div class="row">
            <div class="col-xs-12 col-md-4 footerleft" itemscope itemtype="http://schema.org/Organization">
                <link itemprop="name" href="Iran Audio Guide Office" />
                <link itemprop="url" href="https://iranaudioguide.com/" />
                <div class="logofooter">
                    <img itemprop="logo" src="~/logo.png" alt="Iran Audio Guide logo" />
                </div>
                <p>@Global.footer</p>
                <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <i class="icon fa fa-map-pin icon1" style="margin-top:1px"></i>
                    <span itemprop="streetAddress">@Global.officeaddress1</span>
                </p>
                <p><i class="icon fa fa-phone icon1" style="margin-top:3px"></i>
                <a itemprop="telephone" href="callto:+9807136364709">
                    @Global.phone</a> </p>
                <p><i class="icon fa-envelope-o icon1" style="margin-top:-3px"></i>
                <a itemprop="email" href="mailto:info@iranaudioguide.com">@Global.email1</a></p>
                <ul class="icons">
                    <li>
                        <a itemprop="sameAs" target="_blank" href="https://www.twitter.com/iranaudioguide"
                           class="icon fa-twitter tooltips"><span>@Global.Twitter</span></a>
                    </li>
                    <li>
                        <a itemprop="sameAs" target="_blank" href="https://www.facebook.com/iranaudioguide"
                           class="icon fa-facebook tooltips"><span>@Global.Facebook</span></a>
                    </li>
                    <li>
                        <a itemprop="sameAs" target="_blank" href="https://www.instagram.com/iran.audio.guide/"
                           class="icon fa-instagram tooltips"><span>@Global.Instagram</span></a>
                    </li>
                    <li>
                        <a itemprop="sameAs" target="_blank" href="https://www.telegram.me/iranaudioguide"
                           class="icon fa-telegram tooltips"><span>@Global.Telegram</span></a>
                    </li>
                    @*<li>
                            <a href="mailto:info@iranaudioguide.com"
                               class="icon fa-envelope-o tooltips"><span>@Global.Email</span></a>
                        </li>*@
                </ul>
            </div>
            <div class="col-xs-12 col-md-5 paddingtop-bottom">
                <h6 class="heading7">@Global.Parameter29</h6>
                <div id="contact" class="form-container">
                    <form id="contactForm" name="contactForm" class="form-horizontal" ng-submit="ContactUs(ContactFormModel, contactForm)">
                        <fieldset>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <span ng-class="ValidationClass(0)" class="input-group-addon"><i class="fa fa-user"></i></span>
                                        <input ng-blur="validator($event, 0)" ng-model="ContactFormModel.name" id="name" name="name" class="form-control" placeholder="@Global.PlaceholderName" type="text" required="">
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <span ng-class="ValidationClass(1)" class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                        <input ng-blur="validator($event, 1)" ng-model="ContactFormModel.email" id="Email4" name="Email" class="form-control" placeholder="@Global.PlaceholderEmail" type="email" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-pencil-square-o"></i></span>
                                        <input ng-model="ContactFormModel.subject" id="Subject" name="Subject" class="form-control" placeholder="@Global.PlaceholderSubject" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <span ng-class="ValidationClass(3)" class="input-group-addon"><i class="fa fa-commenting"></i></span>
                                        <textarea ng-blur="validator($event, 3)" ng-model="ContactFormModel.message" id="Message" name="Message" class="form-control" placeholder="@Global.PlaceholderMessage" required=""></textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- Button -->
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <button id="SubmitBtn" name="SubmitBtn" class="btn btn-inverse"><i class="fa fa-send"></i>   @Global.Send</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <!--<Contact overlay> -->
                    <div ng-show="overlay" class="contactoverlay">
                        <img ng-show="!sent" src="@GlobalPath.ImagePath/bars.svg" alt="Sending" />
                        <p ng-show="sent" ng-bind="sentMessage"></p>
                    </div>
                    <!--</Contact overlay> -->
                </div>
            </div>
            <div class="col-xs-12 col-md-3 paddingtop-bottom">
                <div class="fb-page" style="margin-bottom:15px;">
                    <div class="fb-xfbml-parse-ignore">
                        <h4 style="text-align:center;font-size:14px">@Global.Namad</h4>
                        <div class="logo1">
                            <img id='jzpesizpnbqergvjesgt' style='cursor:pointer' onclick='window.open("https://logo.samandehi.ir/Verify.aspx?id=79230&p=jyoepfvluiwkxlaoobpd", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30")' alt='logo-samandehi' src='https://logo.samandehi.ir/logo.aspx?id=79230&p=yndtbsiyodrfqftilyma' />
                        </div>
                        <div class="logo2">
                            <img id='rgvlhwlaxlapsguilbrh' style='cursor:pointer' onclick='window.open("https://trustseal.enamad.ir/Verify.aspx?id=54307&p=yncrodshfuixdrfsqgwl", "Popup","toolbar=no, location=no, statusbar=no, menubar=no, scrollbars=1, resizable=0, width=580, height=600, top=30")' alt='' src='https://trustseal.enamad.ir/logo.aspx?id=54307&p=fujyaodsvjymgthvpeuk' />
                        </div>

                        <div class="devider"></div>
                        <h4 class="getit">@Global.Getit</h4>
                        <div style="" class="logo3">
                            <a href="https://itunes.apple.com/us/app/iran-audio-guide/id1214729999?mt=8">
                                <img style="height:40px;" alt="@Global.alt" src="@GlobalPath.ImagePath/Download_on_the_App_Store_Badge_US-UK_135x40.svg" />
                            </a>
                        </div>
                        <div class="logo4">
                            <a href="https://play.google.com/store/apps/details?id=com.IranAudioGuide.android">
                                <img style="height:40px;" alt=@Global.alt1 src="@GlobalPath.ImagePath/Get_it_on_Google_play.svg" />
                            </a>
                        </div>
                        @*<div class="logo5">
                                <a href="https://cafebazaar.ir/app/com.IranAudioGuide.android/?l=fa">
                                    <img style="height:35px;border:1px solid;border-radius: 4px;" alt="@Global.alt" src="@GlobalPath.ImagePath/bazar-badge.png" />
                                </a>
                            </div>*@
                        @*<div class="logo4">
                                <a href="https://cafebazaar.ir/app/com.IranAudioGuide.android/?l=fa">
                                    <img style="width:auto;height:40px;border:1px solid;border-radius: 4px;" alt="@Global.alt" src="~/Content/admin/img/bazar-badge.png" />
                                </a>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--footer start from here-->
<div class="copyright">
    <div class="container">
        <div class="col-md-6">
            <ul class="copyright">
                <li class="">&copy;@DateTime.Now.Year - @Global.copyright22</li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="bottom_ul">
                <li><a href="/@Global.Lang/home/TermsConditions"> @Global.TermsConditions</a></li>
                <li>-</li>
                <li><a href="/@Global.Lang/home/PrivacyPolicy">@Global.PrivacyPolicy</a></li>
            </ul>
        </div>
    </div>
</div>
