@{
    ViewBag.Title = "Iran Audio Guide";
}
@using Resources
<section id="banner">
    <div class="inner">
        <div id="logo">
            <img src="~/images/IAGSITELOGO.png" />
        </div>
        <h2>@Global.IranAudioGuide</h2>
        <p ></p>
                
        <p>
            @Global.IndexTitle01<br />
            <br />
           @Global.IndexTitle02 <br />
        </p>
   
        <ul class="actions">
            <li>
                <a href="https://itunes.apple.com/us/app/iran-audio-guide/id1214729999?mt=8">
                    <img style="width:auto;height:40px;" alt=@Global.alt src="~/Content/images/Download_on_the_App_Store_Badge_US-UK_135x40.svg" />
                    @*<span class="csspan">App Store</span>*@
                </a>
            </li>
            <li>
                <a href="http://play.google.com/store/apps/details?id=com.IranAudioGuide.android">
                    <img style="width:auto;height:40px;" alt=@Global.alt1 src="~/Content/images/Get_it_on_Google_play.svg" />
                    @*<span class="csspan">Google Play</span>*@
                </a>
            </li>
            @*<li><a href="#Download_Application" class="button special scrolly">Download</a></li>*@
        </ul>
    </div>
    <a href="#one" class="more scrolly">@Global.IndexBtnLearnMore</a>
</section>

<!-- One -->
<section id="one" class="wrapper style1 special" style="background-color:#15437f !important; padding: 2em 0 0em 0;">
    <div class="inner">
        <header class="major">
            <h2>
                @Global.SectionOneH2

            </h2>
            <p>@Global.SectionOneP</p>
        </header>
        <ul class="icons major">
            <li>
                @*<a ng-click="showPopup('Apple')">
                        <span class="icon fa-apple major style1"></span>
                    </a>*@
                <span class="icon fa-apple major style1"></span>
            </li>
            <li>
                <span class="icon fa-android major style2"></span>
            </li>

        </ul>

    </div>

    <form class="form-request" name="formRequest">
        <div class="form-group">
            <div class="col-xs-12">
                <div class="input-group" ng-class="{'error':formRequest.isError && formRequest.$invalid }">
                    <input name="email" ng-model="newsletters.emailForApp" class="form-control" placeholder="Email" type="email" required>
                    <a ng-click="sendEmail()" class="btn btn-inverse input-group-addon btn-danger">
                        <i class="fa fa-send">
                        </i>
                    </a>
                </div>
            </div>
        </div>
        <div ng-show="formRequest.isError && formRequest.$invalid" class="error-msg">please enter correct email address</div>

        <div class="message">
            @Global.SectionOneMessage
        </div>

    </form>

</section>

<!-- Two -->
<section id="two" class="wrapper alt style2" style="background-color:transparent !important">
    <section class="spotlight">
        <div class="image image1">
            <img id="accurate_information" src="~/images/blockpics/accurate_information.jpg" alt=@Global.alt2 scroll-spy />
        </div>
        <div class="content">
            <h2>
                @Global.SectionTwoContentH2
                <br />

            </h2>
            <p>
                @Global.SectionTwoContentP
            </p>
        </div>
    </section>

    <section class="spotlight  spotlightv" style="background-color:transparent !important;">
        <div class="image image2">
            <img id="whattolisten" src="/images/blockpics/whattolisten.jpg" alt=@Global.alt3 scroll-spy-event="elementScrolledIntoView" scroll-spy />
        </div>
        <div class="content">
            <h2 class="">
              @Global.SpotlightContentH2
                 <br>

            </h2>
            <p class="">
            @Global.SpotlightContentP
            </p>
        </div>
    </section>


    <section class="spotlight">
        <div class="image image3">
            <img id="yourownpace" src="~/images/blockpics/yourownpace.jpg" alt="@Global.alt4" scroll-spy />
        </div><div class="content">
            <h2>
               @Global.Parameter01 <br />

            </h2>
            <p> @Global.Parameter02</p>
        </div>
    </section>
</section>

<!-- Three -->
<section id="three" class="wrapper style3 special" style="background-color:#15437f !important;">
    <div class="inner">
        <header class="major">
            <h2>@Global.Parameter10   </h2>
            <p>
                @Global.Parameter11<br />
            </p>
        </header>
        <ul class="features">
            <li class="icon fa-map-signs">
                <h3>@Global.Parameter12 </h3>
                <p>@Global.Parameter13</p>
            </li>
            <li class="icon fa-flag">
                <h3>@Global.Parameter14 </h3>
                <p>@Global.Parameter15</p>
            </li>
            <li class="icon fa-history">
                <h3>@Global.Parameter15</h3>
                <p>@Global.Parameter17  </p>
            </li>
            <li class="icon fa-users">
                <h3>@Global.Parameter18</h3>
                <p>@Global.Parameter19</p>
            </li>
            <li class="icon fa-book">
                <h3>@Global.Parameter2</h3>
                <p>@Global.Parameter20 </p>
            </li>
            <li class="icon fa-institution">
                <h3>@Global.Parameter21</h3>
                <p>@Global.Parameter22 </p>
            </li>
        </ul>
    </div>
</section>

<!-- Map -->
<section id="Location" class="Location">
    <div id="map"></div>
    <div class="LocationInfo">
        <div class="panel panel-default">
            <div class="panel-heading">@Global.Parameter23 </div>
            <div class="panel-body">
                <p>
                    @Global.Parameter24  </p>
                <br />
                <div class="row">
                    <div class="col-lg-2 col-sm-3 col-xs-4">
                        <img class="img-thumbnail" src="~/images/Members/Mona.jpg" alt="@Global.Mona" style="width:100%">
                    </div>
                    <div class="col-lg-10 col-sm-9 col-xs-8">
                        <h5 class="mt-0">@Global.Parameter25 </h5>
                        @Global.Parameter26
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-2 col-sm-3 col-xs-4">
                        <img class="img-thumbnail" src="~/images/Members/Soroosh.JPG" alt="@Global.Soroosh" style="width:100%">
                    </div>
                    <div class="col-lg-10 col-sm-9 col-xs-8">
                        <h5 class="mt-0">@Global.Parameter27</h5>
                        @Global.Parameter28
                    </div>
                </div>
                @*<dl class="dl-horizontal">
                        <dt><i class="fa fa-phone"></i></dt>
                        <dd><a href="tel:18475555555">1-847-555-5555</a></dd>
                        <dt><i class="fa fa-envelope"></i></dt>
                        <dd><a href="mailto:info@iranaudioguide.com"><span>info@iranaudioguide.com</span></a></dd>
                        <dt><i class="fa fa-map-marker"></i></dt>
                        <dd>Shiraz</dd>
                    </dl>*@
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<footer id="footer">
    <div id="contact" class="form-container">
        <form name="contactForm" class="form-horizontal" ng-submit="ContactUs(ContactFormModel, contactForm)">
            <fieldset>
                <legend style="color:#ffffff;">@Global.Parameter29</legend>
                <br />
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span ng-class="ValidationClass(0)" class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input ng-blur="validator($event, 0)" ng-model="ContactFormModel.name" id="name" name="name" class="form-control" placeholder="@Global.PlaceholderName" type="text" required="">
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span ng-class="ValidationClass(1)" class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input ng-blur="validator($event, 1)" ng-model="ContactFormModel.email" id="Email4" name="Email" class="form-control" placeholder="@Global.PlaceholderEmail" type="email" required="">
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-pencil-square-o"></i></span>
                            <input ng-model="ContactFormModel.subject" id="Subject" name="Subject" class="form-control" placeholder="@Global.PlaceholderSubject" type="text">
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span ng-class="ValidationClass(3)" class="input-group-addon"><i class="fa fa-commenting"></i></span>
                            <textarea ng-blur="validator($event, 3)" ng-model="ContactFormModel.message" id="Message" name="Message" class="form-control" placeholder="@Global.PlaceholderMessage" required=""></textarea>
                        </div>

                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <div class="col-xs-12">
                        <button id="SubmitBtn" name="SubmitBtn" class="btn btn-inverse"><i class="fa fa-send"></i>   Send</button>
                    </div>
                </div>

            </fieldset>
        </form>
        <!--<Contact overlay> -->
        <div ng-show="overlay" class="contactoverlay">
            <img ng-show="!sent" src="~/Content/images/bars.svg" />
            <p ng-show="sent" ng-bind="sentMessage"></p>
        </div>
        <!--</Contact overlay> -->
    </div>

    <ul class="icons">
        <li>
            <a target="_blank" href="https://www.twitter.com/iranaudioguide"
               class="icon fa-twitter tooltips"><span>Twitter</span></a>
        </li>
        <li>
            <a target="_blank" href="https://www.facebook.com/iranaudioguide"
               class="icon fa-facebook tooltips"><span>Facebook</span></a>
        </li>
        <li>
            <a target="_blank" href="https://www.instagram.com/iran.audio.guide/"
               class="icon fa-instagram tooltips"><span>Instagram</span></a>
        </li>
        <li>
            <a target="_blank" href="https://www.telegram.me/iranaudioguide"
               class="icon fa-telegram tooltips"><span>Telegram</span></a>
        </li>
        <li>
            <a href="mailto:info@iranaudioguide.com"
               class="icon fa-envelope-o tooltips"><span>Email</span></a>
        </li>
    </ul>
    @*<ul class="icons">
            <li>
                <!-- begin WebMoney Transfer : attestation label -->
                <a href="https://passport.webmoney.ru/asp/certview.asp?wmid=059551878952" target=_blank>
                    <IMG SRC="~/images/v_blue_on_transp_en.png" title="Here is your WM passport 059551878952" border="0"><br>
                    <font size=1>We accept WebMoney</font>
                </a>
                <!-- end WebMoney Transfer : attestation label -->
            </li>
        </ul>*@
    <ul id="copyright" class="copyright">
        <li>©@DateTime.Now.Year - Soroosh Developer Team</li>
        <li>Developer: <a rel="author" href="https://plus.google.com/112268338441138496929">Soroosh Ansari Mehr</a></li>
    </ul>
</footer>
@section scripts{
    <script>
        function initMap() {
            var image = {
                url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png",
                // This marker is 20 pixels wide by 32 pixels high.
                //size: new google.maps.Size(20, 32)
            };
            var contentString =
            '<div class="panel panel-default">' +
                '<div class="panel-heading">Iran Audio Guide Office</div>' +
                '<div class="panel-body">' +
                    '<div id="content">' +
                        '<p><i class="fa fa-map-marker"></i> Shiraz, rock caves and ancient paintings.<br />Uluru is listed as a World Heritage Site.</p>' +
                    '</div>' +
                '</div>' +
            '</div>';
            var styles = [
                        {
                            "featureType": "administrative",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#15437f"
                                }
                            ]
                        },
                        {
                            "featureType": "administrative.locality",
                            "elementType": "labels.text",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "administrative.neighborhood",
                            "elementType": "labels.text",
                            "stylers": [
                                {
                                    "visibility": "on"
                                }
                            ]
                        },
                        {
                            "featureType": "administrative.land_parcel",
                            "elementType": "labels.text",
                            "stylers": [
                                {
                                    "visibility": "on"
                                }
                            ]
                        },
                        {
                            "featureType": "landscape",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "color": "#f2f2f2"
                                }
                            ]
                        },
                        {
                            "featureType": "landscape",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#15437f"
                                }
                            ]
                        },
                        {
                            "featureType": "landscape.natural",
                            "elementType": "geometry.fill",
                            "stylers": [
                                {
                                    "hue": "#ff0000"
                                }
                            ]
                        },
                        {
                            "featureType": "landscape.natural.landcover",
                            "elementType": "geometry.fill",
                            "stylers": [
                                {
                                    "color": "#f2f2f2"
                                }
                            ]
                        },
                        {
                            "featureType": "landscape.natural.terrain",
                            "elementType": "geometry.fill",
                            "stylers": [
                                {
                                    "hue": "#ff0000"
                                }
                            ]
                        },
                        {
                            "featureType": "landscape.natural.terrain",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "hue": "#ff0000"
                                }
                            ]
                        },
                        {
                            "featureType": "poi",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "poi",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#15437f"
                                }
                            ]
                        },
                        {
                            "featureType": "road",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "saturation": -100
                                },
                                {
                                    "lightness": 45
                                }
                            ]
                        },
                        {
                            "featureType": "road",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#15437f"
                                }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "visibility": "simplified"
                                }
                            ]
                        },
                        {
                            "featureType": "road.arterial",
                            "elementType": "labels.icon",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "transit",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "transit",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#15437f"
                                }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "color": "#46bcec"
                                },
                                {
                                    "visibility": "on"
                                }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "geometry.fill",
                            "stylers": [
                                {
                                    "color": "#4ac6e0"
                                }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#15437f"
                                }
                            ]
                        }
            ];
            var center = new google.maps.LatLng(29.724955, 52.461972);
            var PageCenter = new google.maps.LatLng(29.724955, 52.465000);
            var mapOptions = {
                scrollwheel: false,
                navigationControl: true,
                mapTypeControl: false,
                scaleControl: true,
                draggable: false,
                center: center,
                zoom: 5,
                styles: styles
                //mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });
            var map = new google.maps.Map(document.getElementById('map'), mapOptions);
            //var map = new google.maps.Map(document.getElementById('map'),
            //  mapOptions);
            var marker = new google.maps.Marker({
                position: center,
                title: 'Iran audio guide',
                icon: image
            });
            marker.setMap(map);
            google.maps.event.addListenerOnce(map, 'idle', function () {
                infowindow.open(map, marker);
            });
            marker.addListener('mouseover', function () {
                infowindow.open(map, marker);
            });
            marker.addListener('click', function () {
                infowindow.open(map, marker);
            });
            marker.addListener('mouseout', function () {
                infowindow.close();
            });
            map.setCenter(PageCenter);

            google.maps.event.addListener(infowindow, 'domready', function () {

                // Reference to the DIV that wraps the bottom of infowindow
                var iwOuter = $('.gm-style-iw');
                iwOuter.next().addClass("iwCloseBtn");
                iwOuter.parent().parent().addClass('iwParent');

                var iwBackground = iwOuter.prev();

                iwBackground.children(':nth-child(3)').find('div').addClass('iwTail');
                // removes background shadow div
                iwBackground.children(':nth-child(2)').css({ 'display': 'none' });

                // removes white background div
                iwBackground.children(':nth-child(4)').css({ 'display': 'none' });
            });
        }
        //$(document).ready(function () {
        //    GoogleMap_initialize();
        //});
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOsmRJl1IP_PRpueNuCT-aPDN_XbxAzks&callback=initMap"
            async defer></script>
}


