@using IranAudioGuide_MainServer.Models
@using IranAudioGuide_MainServer.App_GlobalResources;
@model RegisterViewModel
@{
    ViewBag.Title = Global.TitlePageRegister;
}

<section id="promo" class="content-block min-height-600px">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h2> @Global.Parameter43 @*<br /> @Global.Parameter44*@ </h2>
                <p id="regdet">
                    @Global.Parameter45
                </p>

                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div>
                        @*@foreach (var modelStateVal in ViewData.ModelState.Values)
                        {
                            foreach (var error in modelStateVal.Errors)
                            {
                                <p></p>
                                <p>Html.ValidationMessageFor(error.ErrorMessage, "", new { class = "text-danger" })</p>
                            }
                        }*@
                    </div>
                    @Html.AntiForgeryToken()
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = Global.PlaceholderName })
                            </div>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Global.PlaceholderEmail })
                            </div>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Global.PlaceholderPassword })
                            </div>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-check-square-o"></i></span>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = Global.PlaceholderConfirmPassword })
                            </div>
                        </div>
                    </div>

                <!-- Button -->
                    <div class="form-group">
                        <div class="col-md-8">
                            <button id="regbtn" type="submit" name="regbtn" class="btn btn-inverse"><i class="fa fa-user-plus"></i> @Global.Parameter46</button>
                        </div>
                    </div>
                }
                <div class="form-group">
                    <a class="TextLink" href="@Url.Action("Login","Account")"> @Global.Parameter47 </a>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-6 col-md-offset-1">
                <div class="ExternalLogin">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</section>
