@using IranAudioGuide_MainServer.Models
@model RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<section id="promo" class="content-block min-height-600px">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h2>Join us! <br />It only takes a minute!</h2>
                <p id="regdet">By registering you will access to all Iran Audio Guide has to offer. Hopefully you will soon agree that its quite worth while</p>

                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email address" })
                            </div>
                            </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                            </div>
                            </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-check-square-o"></i></span>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                                </div>
                            </div>
                    </div>

                <!-- Button -->
                    <div class="form-group">
                        <div class="col-md-8">
                            <button id="regbtn" type="submit" name="regbtn" class="btn btn-inverse"><i class="fa fa-user-plus"></i>Register</button>
                        </div>
                    </div>
                }
                <div class="form-group">
                    <a class="TextLink" href="@Url.Action("Login","Account")">Already have an account?</a>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-6 col-md-offset-1">
                <div class="ExternalLogin">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</section>

@Scripts.Render("~/bundles/jqueryval")
