@model IranAudioGuide_MainServer.Models.ResetPasswordViewModel
@using IranAudioGuide_MainServer.App_GlobalResources;

@{
    ViewBag.Title = "Reset password";
}
<style type="text/css">
    #page-wrapper {
        min-height: 100vh;
    }

    hr {
        margin: 0 0 3em 0;
    }
    .boxbtn{
        text-align:right;
    }
   ._fa .boxbtn {
        text-align: left;
    }
</style>

<section id="promo" class="content-block min-height-600px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span id="chechLogin"></span>
               

                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>@Global.ResetYourPassword</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Code)
                    @Html.HiddenFor(model => model.userId)
                    @*<div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>*@


                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 boxbtn">
                            <input type="submit" class="btn btn-default" value="@Global.btnReset" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</section>