@model IranAudioGuide_MainServer.Models.
@using IranAudioGuide_MainServer.App_GlobalResources
@{
    ViewBag.Title = Global.TitlePageSendCode;
}


<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("SendCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
    @Html.AntiForgeryToken()
    @Html.Hidden("rememberMe", @Model.RememberMe)
    <h4>@Global.Parameter49</h4>
    <hr />
    <div class="row">
        <div class="col-md-8">
            @Global.Parameter5
            @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers)
            <input type="submit" value="@Global.btnSubmit" class="btn btn-default" />
        </div>
    </div>
}
