@model IranAudioGuide_MainServer.Models.PackageVM
@using IranAudioGuide_MainServer.App_GlobalResources
@{
    Layout = null;
}
<style type="text/css">
    /*#page-wrapper {
        background: none !important;
    }*/

    #CheckOutSection .spotlightv {
        margin-top: 25vh;
    }

    #header.alt h1 {
        opacity: 1 !important;
    }

    #header.alt {
        background: #15437f !important;
        border-bottom: thin solid white;
    }

    #CheckOutSection #MainSection {
        margin-top: 100px;
        height: 400px;
        width: 100%;
    }

    #CheckOutSection h3 {
        text-transform: none;
        color: #15437f;
        text-shadow: 1px 1px 1px #ccc;
    }

    #CheckOutSection .Main-content {
        float: right;
    }

    #CheckOutSection .Main-text {
        padding: 3em;
        padding-top: 175px;
    }

    #CheckOutSection #infocontainer {
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 30px;
        /*border-bottom-right-radius: 30px;*/
        box-shadow: 0px 0px 10px black;
        min-height: 85vh;
        margin-top: 45px;
        margin-bottom: 30px;
    }


    #CheckOutSection .chkout-img {
        text-align: center;
    }

        #CheckOutSection .chkout-img img {
            width: 150px;
            margin-bottom: 20px;
        }

    #CheckOutSection .chkout-text {
            padding: 3.5em 0em 3.5em 0em;
        margin: 0 auto;
    }

        #CheckOutSection .chkout-text h1, .chkout-text p {
            color: #15437f !important;
            text-shadow: 1px 1px 2px #808080 !important;
            line-height: 25px;
        }


    #CheckOutSection ._1sttd {
        font-size: 14px;
        width: 50%;
        border-right: 1px solid #15437f !important;
        vertical-align: middle;
        font-weight: 600;
    }

        /*#CheckOutSection ._1sttd i {
            position: absolute;
            left: 5px;
            top: 5px;
            font-size: large;
        }*/

        #CheckOutSection ._1sttd .col-xs-12 {
            padding-left: 25px;
        }

    #CheckOutSection ._2ndtd {
        width: 50%;
    }

    #CheckOutSection .table-mybordered > thead > tr > th, .table-mybordered > tbody > tr > th, .table-mybordered > tfoot > tr > th, .table-mybordered > thead > tr > td, .table-mybordered > tbody > tr > td, .table-mybordered > tfoot > tr > td {
        border: 1px solid #b6b6b6;
    }

    #CheckOutSection table tbody tr {
        background: none !important;
    }

    #CheckOutSection .desc {
        font-weight: 600;
        font-size: x-small;
        padding: 0 10px !important;
    }

    #CheckOutSection .purchasebtn {
        width: 120px;
        background-color: #15437f;
        color: white;
        font-size: small;
    }

    #CheckOutSection .zarinpalicon fa {
        background: url(/images/icon-128x128.png) no-repeat center right;
        display: block;
        height: 38px;
        width: 38PX;
        background-size: cover;
    }

    #CheckOutSection .webmoneyicon fa {
        background: url(/images/webmoney2.png) no-repeat center right;
        display: block;
        height: 38px;
        width: 38PX;
        background-size: cover;
    }

    #CheckOutSection .btn-info {
        color: #fff;
        background-color: #15437f;
        border-color: #041a35;
    }

    #CheckOutSection ul.icons {
        list-style: none;
    }

    #CheckOutSection .desc {
        font-weight: 600;
        font-size: x-small;
        padding: 10px 10px !important;
    }

    #CheckOutSection .purchasebtn {
        width: 110px;
        background-color: rgb(0, 124, 113);
        color: white;
        font-size: small;
    }

    #CheckOutSection #wmcheck {
        /*position: absolute; left: 0;*/ border-bottom: none;
    }

    #CheckOutSection #PriceLabel {
        color: white;
        font-size: large;
        font-weight: 600;
        padding: 8px 50px;
        border-radius: 7px;
        background: #F44336;
        box-shadow: 3px 3px 8px black;
        text-shadow: 1px 1px 2px black;
    }

    #CheckOutSection #UserIdentity {
        text-transform: none;
        color: white;
        text-shadow: none;
        font-weight: 600;
    }

    #CheckOutSection #ChkTable {
        width: 85%;
        margin: 0 auto;
        margin-bottom: 0px !important;
        border-top: none !important;
        color: #15437f;
        text-shadow: none;
        text-align: center;
    }

    #CheckOutSection #PkgNameRow {
        background-color: #007c71 !important;
        color: #ffffff;
        border: none !important;
        margin-bottom: 10px;
    }

    #CheckOutSection #PurchacebtnBlock {
        text-align: center;
        padding: 0;
        top: 15px;
    }

    #CheckOutSection #PkgName {
        border: none !important;
        text-transform: capitalize;
        font-size: medium;
        font-weight: 100;
        border-radius: 5px 5px 0 0;
        letter-spacing: 0.1em;
        text-shadow: 1px 1px 2px #191919;
    }

    #CheckOutSection #PkgDetailsTbl {
        width: 100%;
        border-radius: 10px 10px 0 0;
        margin: 0px 0 10px 0;
        color: #15437f;
        text-shadow: none;
        text-align: center;
        background-color: transparent;
    }

    #CheckOutSection .PkgDetTD {
        background-color: #001644 !important;
        font-size: small;
        font-weight: 600;
        font-style: italic;
        color: white !important;
    }

    #CheckOutSection #wminfobtn {
        position: relative;
        right: 0px;
    }

    #CheckOutSection #awi {
        /*position: absolute;
            left: 0;
            border-bottom:none;
            top: 30px;*/
        font-size: xx-small;
    }

        #CheckOutSection #awi a {
            border-bottom: none !important;
        }
</style>

<section id="CheckOutSection">
    <div id="infocontainer" class="col col-sm-12 col-xs-12">

        <div class="col-md-8 col-sm-8 col-md-push-2 col-sm-push-2 col-xs-10 col-xs-push-1 checkout-content chkout-text">

            <table id="ChkTable" class="table-mybordered table-condensed">

                <tr id="PkgNameRow">
                    <td id="PkgName" class="_2ndtd"><i class="icon fa fa-briefcase"></i>&nbsp;@Model.PackageName</td>
                </tr>

            </table>
            <table id="PkgDetailsTbl" class="table-mybordered tbldotted table-condensed">
                <tr>
                    <td class="_1sttd PkgDetTD"><i class="icon fa fa-map-signs"></i>&nbsp;@Global.PaymentPage2</td>
                    <td class="_2ndtd PkgDetTD"><i class="icon fa fa-clipboard"></i>&nbsp;@Global.PaymentPage21</td>
                </tr>




                @foreach (var item in Model.PackageCities)
                {

                    <tr style="background-color: #19304c !important;">
                        <td class="_1sttd" style="background-color:transparent;"><div class="col-xs-12" style="color:white; font-size:small; font-weight:300;">@item.CityName</div></td>
                        <td class="_2ndtd desc" style="background-color:transparent; color:white; padding-top: 10px !important; font-weight:300;">@item.CityDesc</td>
                    </tr>
                }


                <tr style="background-color: #19304c !important;">
                    <td class="_1sttd" colspan="2" style="background-color:#001644 !important;">
                        <div class="col-xs-12" style="color:white; font-size:small; font-weight:600; font-style:italic; padding:5px;">
                            <i class="icon fa fa-credit-card-alt"></i>
                            &nbsp;@Global.PaymentPage22
                        </div>
                    </td>

                </tr>
                <tr>
                    @if (ViewBag.IsChooesZarinpal)
                    {
                        <td class="_2ndtd" style="color:white; font-size:small; background-color:#fdcf41; font-weight:300; vertical-align:middle;">
                            <img style="width:35%;" src="~/images/icon-128x128.png" />
                        </td>
                    }
                    else
                    {
                        <td class="_2ndtd" style="color:white; font-size:small;  background-color:#006dae; font-weight:300; vertical-align:middle;">
                            <img style="width:90%;" src="~/images/WebMoney-logo-white_8.png" />
                        </td>
                    }

                    <td class="_2ndtd" style="background-color:#19304c; color:white; font-size:small; font-weight:300; vertical-align:middle;">
                        <div class="col-xs-12" style="text-align:center; padding:0;">
                            @if (ViewBag.IsChooesZarinpal)
            {
                                <script src="https://www.zarinpal.com/webservice/TrustCode" type="text/javascript"></script>
                                <p style="color:black; text-shadow:none; font-size:10px;">@Global.PaymentPage23</p>

                            }
                            else
                            {
                                <ul class="icons" style="margin:0;">
                                    <li>
                                        <a href="#" style="margin:5px 0px; border-bottom: 0.8px solid white; background-color:transparent; color:whitesmoke; font-size:10px;" type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#procedure">Payment procedure</a>
                                    </li>
                                </ul>
                                <div id="awi"><a href="#"><i id="wminfobtn" class="icon fa fa-info-circle"></i>&nbsp;@Global.PaymentPage24</a></div>

                                                <!-- begin WebMoney Transfer : attestation label -->
                                <a id="wmcheck" href="https://passport.webmoney.ru/asp/certview.asp?wmid=059551878952" target=_blank>
                                    <IMG SRC="~/images/v_blue_on_transp_en.png" title="Here is your WM passport 059551878952" border="0">@*<br>
                                        <font size=1>Check Passport</font>*@
                                </a>
                <!-- end WebMoney Transfer : attestation label -->

                            }

                        </div>
                    </td>
                </tr>
                @*<tr>
                        <td colspan="2" class="_1sttd" style="background-color:#001644 !important;"><div class="col-xs-12" style="color:white; font-size:small; font-weight:600; font-style:italic;"><i class="icon fa fa-money"></i>&nbsp;Price</div></td>

                    </tr>
                    <tr>
                        @if (ViewBag.IsChooesZarinpal)
                        {

                            <td colspan="2" class="_2ndtd" style="vertical-align:middle; height:65px;">
                                <span style="color:white; font-size:large; font-weight:600; padding:10px; border-radius:8px; background:#F44336;">@string.Format("{0:#,##0.##}", Model.PackagePrice * 10) IRR</span>
                            </td>

                        }
                        else
                        {

                            <td colspan="2" class="_2ndtd" style="vertical-align:middle;  height:65px;">
                                <span id="PriceLabel">@string.Format("{0:#,##0.##}", Model.PackagePriceDollar) $</span>
                            </td>
                        }
                    </tr>*@
            </table>

            <div class="col-xs-12" style="padding:0px; color:white; font-size:small; font-weight:600; font-style:italic; text-align:center; top:5px;">
                <i class="icon fa fa-money"></i>&nbsp;Price :
                @if (ViewBag.IsChooesZarinpal)
                {
                    <span style="color:white; font-size:large; font-weight:600; padding:10px; border-radius:8px; background:#F44336;">@string.Format("{0:#,##0.##}", Model.PackagePrice * 10) IRR</span>
                }
                else
                {
                    <span id="PriceLabel">@string.Format("{0:#,##0.##}", Model.PackagePriceDollar) $</span>
                }
                <div id="PurchacebtnBlock" class="col-xs-12">

                    <a class="btn btn-sm btn-default" href="mobile/close" style="width:100px; font-size:small;"><i class="icon fa fa-close"></i>&nbsp; @Global.btnCancel</a>
                    @if (ViewBag.IsChooesZarinpal)
                    {
                        <a class="btn btn-default purchasebtn" href="@Url.Action("Purchase", "Payment", new { packageId = Model.PackageId, bankName = "zarinpal", isFromWeb = true })"><span>@Global.PaymentPage26 </span></a>
                    }
                    else
                    {
                        <a class="btn btn-default purchasebtn" href="@Url.Action("WMPurchase", "Payment",new { packageId = Model.PackageId, isFromApp = false })"><i class="icon fa fa-check-square-o"></i>@Global.btnPurchase  </a>
                    }

                </div>
            </div>




        </div>







    </div>
</section>
<!-- Modal -->
<div id="howto" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">How to pay with webmoney</h4>
            </div>
            <div class="modal-body">
                <p>
                    Click the bottom "Purchase", the page will go to the Webmoney transfer.<br />
                    You will see several methods of payment with web money. If you are a Webmoney user you can use the Webmoney keeper.<br />
                    If you’re not familiar with Webmoney services, choose the Quick payment. For the payment to proceed you will you need to receive a sms. So be sure your sim card is active and you can receive the text messages.
                </p>
                <a href="https://www.wmtransfer.com/eng/information/short/index.shtml">About Webmoney</a>
                <br />
                <h5>Account details</h5>
                <dl>
                    <dt>WebMoney ID</dt>
                    <dd> 059551878952</dd>
                    <dt>Merchant</dt>
                    <dd>Iran Audio Guide</dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="procedure" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Payment procedure</h4>
            </div>
            <div class="modal-body">
                <p>
                    In order to purchase a package, you either need an Iranian cash card or you have to use the webmoney transfer system which provides various payment methods.
                </p>
                <p>
                    The procedure will only take a few minutes. The system will guide you through the steps. As soon the process has finished, the packages will be activated for you automatically. In case the procedures fail contact us.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="Terms" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Terms & Conditions</h4>
            </div>
            <div class="modal-body">
                <p>
                    Once you have purchased a packaged the price is not refundable.
                    <br />
                    Iranaudioguide is not responsible for failure of the transaction. Contact your bank to follow up on failed transactions.
                    <br />
                    Users agree to the price of each package and by purchasing a package, users terminate their right of any future complaint toward the price and content of the packages.
                    <br />
                    Iranaudioguide preserve the right to restrict any user’s access, in case of doubt of identity, and users agree to reply to iranaudioguide contacts to clear the issue. In case the users do not comply, Iranaudioguide has the right to deny the users access.
                    <br />
                    If it is proven to Iranaudioguide that a user is misusing the software in anyway, Iranaudioguide preserves to right to disable any access the user had and restrain any future access.
                    <br />
                    Iranaudioguide is not a purely scientific source. The content is based on scientific facts but entertainment aspects are also considered.
                    <br />
                    All rights of this application are strictly reserved to the brand owner. Any illegal use, will follow with legal prosecution.
                    <br />
                    Users agree to allow iranaudioguide use the personal data they have provided to Iranaduioguide, for the improvement of the application.
                    <br />
                    Each user can only change their active device once they change their personal device. In case it is proven to Iranaudioguide that users have changed the active device, to allow other individual access their packages, Iranaudioguide can restrict their access.
                    <br />
                    Offered services provided here are not at the order of an individual or enterprise operating any of the Transaction banks, active on Iranaudioguide. This means the banks is not connected in any way with the sales conducted in Iranaudioguide.

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>