@model IranAudioGuide_MainServer.Models.PackageVM
@using IranAudioGuide_MainServer.App_GlobalResources
@{
    // using angular layout
    Layout = null;

}
<style type="text/css">
        /*#page-wrapper {
            background: none !important;
        }*/

        #CheckOutSection .spotlightv {
            margin-top: 25vh;
        }

        #header.alt h1 {
            opacity: 1 !important;
        }

        #header.alt {
            background: #15437f !important;
            border-bottom: thin solid white;
        }

        #CheckOutSection #MainSection {
            margin-top: 100px;
            height: 400px;
            width: 100%;
        }

        #CheckOutSection h3 {
            text-transform: none;
            color: #15437f;
            text-shadow: 1px 1px 1px #ccc;
        }

        #CheckOutSection .Main-content {
            float: right;
        }

        #CheckOutSection .Main-text {
            padding: 3em;
            padding-top: 175px;
        }

        #CheckOutSection #infocontainer {
        background-color: rgba(230, 230, 230, 0.3);
        border-radius: 10px;
        /* border-bottom-right-radius: 30px; */
        box-shadow: 0px 0px 10px black;
        min-height: 85vh;
        margin-top: 20px;
        margin-bottom: 30px;
        padding: 0;
        }


        #CheckOutSection .chkout-img {
            text-align: center;
        }

            #CheckOutSection .chkout-img img {
                width: 150px;
                margin-bottom: 20px;
            }

        #CheckOutSection .chkout-text {
                padding: 0em 0em 2em 0em;
            margin: 0 auto;
        }

            #CheckOutSection .chkout-text h1, .chkout-text p {
                color: #15437f !important;
                text-shadow: 1px 1px 2px #808080 !important;
                line-height: 25px;
            }


        #CheckOutSection ._1sttd {
            font-size: 14px;
            width: 50%;
            vertical-align: middle;
            font-weight: 600;
        }

            /*#CheckOutSection ._1sttd i {
                position: absolute;
                left: 5px;
                top: 5px;
                font-size: large;
            }*/

            #CheckOutSection ._1sttd .col-xs-12 {
                padding-left: 25px;
            }

        #CheckOutSection ._2ndtd {
            width: 50%;
        }

        #CheckOutSection .table-mybordered > thead > tr > th, .table-mybordered > tbody > tr > th, .table-mybordered > tfoot > tr > th, .table-mybordered > thead > tr > td, .table-mybordered > tbody > tr > td, .table-mybordered > tfoot > tr > td {
            border: 1px solid #b6b6b6;
        }

        #CheckOutSection table tbody tr {
            background: none !important;
        }

        #CheckOutSection .desc {
            font-weight: 600;
            font-size: x-small;
            padding: 0 10px !important;
        }

        #CheckOutSection .purchasebtn {
            width: 120px;
            background-color: #15437f;
            color: white;
            font-size: small;
        }

        #CheckOutSection .zarinpalicon fa {
            background: url(/images/icon-128x128.png) no-repeat center right;
            display: block;
            height: 38px;
            width: 38PX;
            background-size: cover;
        }

        #CheckOutSection .webmoneyicon fa {
            background: url(/images/webmoney2.png) no-repeat center right;
            display: block;
            height: 38px;
            width: 38PX;
            background-size: cover;
        }

        #CheckOutSection .btn-info {
            color: #fff;
            background-color: #15437f;
            border-color: #041a35;
        }

        #CheckOutSection ul.icons {
            list-style: none;
        }

        #CheckOutSection .desc {
            font-weight: 600;
            font-size: x-small;
            padding: 10px 10px !important;
        }

        #CheckOutSection .purchasebtn {
            width: 110px;
            background-color: #009083;
            color: white;
            font-size: small;
        }

        #CheckOutSection #wmcheck {
            /*position: absolute; left: 0;*/
            border-bottom: none;
        }

        #CheckOutSection #PriceLabel {
            color: #001644;
            font-size: large;
            font-weight: 500;
            padding: 5px 16px;
            /* border-radius: 6px; */
            /* background: #F44336; */
            /* box-shadow: 3px 3px 8px black; */
            /* text-shadow: 1px 1px 2px black; */
        }

        #CheckOutSection #UserIdentity {
            text-transform: none;
            color: white;
            text-shadow: none;
            font-weight: 600;
        }

        #CheckOutSection #ChkTable {
            width: auto;
            padding: 20px 0px;
            margin: 0px auto;
            margin-bottom: 0em !important;
            border-top: none !important;
            color: #ececec;
            text-shadow: none;
            text-align: center;


        }

        #CheckOutSection #PkgNameRow {
            background-color: #004375 !important;
            border: none !important;
            text-transform: capitalize;
            font-size: large;
            font-weight: 700;
            /* border-radius: 5px 5px 0 0; */
            letter-spacing: 0.1em;
            /* text-shadow: 1px 1px 2px #191919; */
        }

        #CheckOutSection #PurchasebtnBlock {
            text-align: center;
            padding: 0;
            top: 15px;
        }

        #CheckOutSection #PkgName {
            /*padding: 15px;*/
            border: none !important;
            text-transform: capitalize;
            font-size: large;
            font-weight: bold;
            border-radius: 0 0 8px 8px;
            letter-spacing: 0.2em;
        }

        #CheckOutSection #PkgDetailsTbl {
        width: 100%;
        border-radius: 10px 10px 0 0;
        margin: 0px 0 10px 0;
        color: #15437f;
        text-shadow: none;
        text-align: center;
        background-color: transparent;
        float: left;
        }

        #CheckOutSection .PkgDetTD {
    background-color: #001644;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    border-bottom: 5px solid #001644;
    color: #dfdfdf;
    padding: 0;
        }

        #CheckOutSection #wminfobtn {
            position: relative;
            right: 0px;
        }

        #CheckOutSection #awi {
            /*position: absolute;
                left: 0;
                border-bottom:none;
                top: 30px;*/
            font-size: xx-small;
        }

            #CheckOutSection #awi a {
                border-bottom: none !important;
                color: #001644;
                font-weight: 700;
                font-size: 10px;
            }

        #WMLinks {
            display: inline-flex;
            margin: 0;
            padding-left: 0;
            width: 50%;
            margin-top: 15px;
        }

            #WMLinks li {
                width: inherit;
            }

    #PkgPaymentBlock {
    width: 100%;
    float: right;
    position: relative;
    /* margin: 0 auto; */
    /* left: 36%; */
    top: -10px;
    background-color: #dfdfdf;
    border-top: 3px solid #001644;
    /* box-shadow: 0px -2px 50px */
    }
    @@media (min-width: 320px) {
        #page-content-wrapper {
            height: 100vh !important;
            overflow: hidden !important;
            padding: 0px;
            padding-top: 35px;
        }
    }

    @@media (min-width: 769px) {
        #CheckOutSection #ChkTable {
            width: auto;
            padding: 20px 0px;
            margin: 0px auto;
            margin-bottom: 0.5em !important;
        }
    }
    @@media (min-width: 319px) and (max-width: 769px) {
        #CheckOutSection #ChkTable {
            width: 100%;
        }

        #CheckOutSection #PkgName {
            border-radius: 10px 10px 0px 0px;
        }
    }

    .gatewayimg {
        width: 145px;
        border-radius: 10px;
        box-shadow: 1px 1px 4px #222222;
        padding: 3px;
        /*margin-bottom: 15px;*/
    }

    .desctext {
        font-size: xx-small;
    }
</style>

<section id="CheckOutSection">
    <div id="infocontainer" class="col col-sm-10 col-md-10 col-xs-12 col-sm-push-1 col-md-push-1">
        <table id="ChkTable" class="table-mybordered table-condensed">

            <tr id="PkgNameRow">
                <td id="PkgName" class="_2ndtd"><i class="icon fa fa-briefcase"></i>&nbsp;@Model.PackageName</td>
            </tr>

        </table>
        <table style="width:100%; position: relative; border-top: 3px solid #001644;">

            <tbody>

                <tr>

                    <td colspan="2" class="_2ndtd PkgDetTD"><i class="icon fa fa-clipboard"></i>&nbsp;@Global.PaymentPage21</td>
                </tr>
            </tbody>
        </table>
        <div class="col-md-12 col-sm-12 col-xs-12 col-xs-push-0 checkout-content chkout-text">


            <div style="height:35vh; overflow:scroll;">
                <table id="PkgDetailsTbl" class="tbldotted table-condensed">
                    @foreach (var item in Model.PackageCities)
                    {

                        <tr style="background-color: #d7d7d7  !important;     border-bottom: 2px solid #001644;">
                            <td class="_1sttd" style="background-color:transparent;" colspan="2">
                                <div class="col-xs-12" style="text-align:left; color:#1f1f1f; font-size:medium; font-weight:700; text-shadow:1px 1px 1px grey;">
                                    <i class="icon fa fa-map-marker"></i>&nbsp;@item.CityName
                                </div>
                                <div class="col-xs-12 desctext" style="line-height: 2.5em;  text-align:left; color:#1f1f1f; font-size:x-small; font-weight:500; text-shadow:1px 1px 1px grey;">
                                    @item.CityDesc
                                </div>
                            </td>
                        </tr>
                    }
                </table>
                </div>
                <table id="PkgPaymentBlock">
                    <tr style="background-color: #19304c !important; ">
                        <td class="_1sttd" colspan="2" style="background-color:#ececec !important; border-bottom:5px solid #001644;">
                            <div class="col-xs-12" style="background-color: #001644; font-size: 15px; font-weight: 400; font-style: italic; text-align: center; color: #e9e9e9;">
                                <i class="icon fa fa-credit-card-alt"></i>
                                &nbsp;@Global.PaymentGateway
                            </div>
                        </td>

                    </tr>
                    <tr>
                        @if (ViewBag.IsChooesZarinpal)
                        {
                            <td class="_2ndtd" colspan="1" style="color:white; font-size:small; background-color:#fdcf41; font-weight:300; vertical-align:middle; padding-left: 20px;">
                                <img class="gatewayimg" style="width:35%;" src="@GlobalPath.ImagePath/icon-128x128.png" />
                            </td>
                        }
                        else
                        {
                            <td class="_2ndtd" colspan="1" style="background-color: #ececec; color:white; font-size:small; font-weight:300; vertical-align:middle; padding: 15px 0; text-align:center; padding-left: 20px; ">
                                @*<img style="background-color: #006dae;" class="gatewayimg" src="~/images/WebMoney-logo-white_8.png" />*@
                                <img style="background-color: #006dae;" class="gatewayimg"   src="@GlobalPath.ImagePath/WebMoney-logo-white_8.png" />
                            </td>
                        }
                        @if (ViewBag.IsChooesZarinpal)
            {
                            <td style="background-color: #ececec; color: white; font-size: small; font-weight: 300; vertical-align: middle; padding: 15px 0; text-align: center;">
                                <script src="https://www.zarinpal.com/webservice/TrustCode" type="text/javascript"></script>
                                <p style="color:black; text-shadow:none; font-size:10px;">@Global.PaymentPage23</p>
                            </td>
                        }
                        else
                        {
                            <td style="background-color: #ececec; color: white; font-size: small; font-weight: 300; vertical-align: middle; padding: 15px 0; text-align: center;">
                                <a id="wmcheck" href="https://passport.webmoney.ru/asp/certview.asp?wmid=059551878952" target=_blank>
                                    <IMG SRC="@GlobalPath.ImagePath/v_blue_on_transp_en.png" title="Here is your WM passport 059551878952" border="0">@*<br>
                                        <font size=1>Check Passport</font>*@
                                </a>
                            </td>
                        }
                    </tr>
                    <tr style="border-bottom:2px solid #001644;">

                        <td class="_2ndtd" style="background-color: #001644; color: #ececec;  font-size: small; font-weight: 600;     font-style: italic;  vertical-align: middle;  border: none;  text-align:center;">
                            <i class="icon fa fa-money"></i>&nbsp; @Global.Price

                        </td>
                        <td class="_2ndtd" style="background-color: #ececec; color: #001644;  font-size: small; font-weight: 600;  vertical-align: middle; border: none; text-align:center;">
                            @if (ViewBag.IsChooesZarinpal)
                            {
                                <span id="PriceLabel">@string.Format("{0:#,##0.##}", Model.PackagePrice * 10) IRR</span>
                            }
                            else
                            {
                                <span id="PriceLabel">@string.Format("{0:#,##0.##}", Model.PackagePriceDollar) $</span>
                            }
                        </td>
                    </tr>


                    <tr>
                        <td colspan="2">
                            <div id="PurchasebtnBlock" class="col-xs-12">

                                <a class="btn btn-sm btn-default" href="@Url.Action("Index", "User", new { lang = Global.Lang})" style="width:100px; font-size:small;"><i class="icon fa fa-close"></i>&nbsp; @Global.btnCancel</a>
                                @if (ViewBag.IsChooesZarinpal)
                                {
                                    <a class="btn btn-default purchasebtn" href="@Url.Action("Purchase", "Payment", new { packageId = Model.PackageId, bankName = "zarinpal", isFromWeb = true })"><span>@Global.btnPurchase </span></a>
                                }
                                else
                                {
                                    <a class="btn btn-default purchasebtn" href="@Url.Action("WMPurchase", "Payment",new { packageId = Model.PackageId, isFromApp = false })"><i class="icon fa fa-check-square-o"></i>@Global.btnPurchase  </a>
                                }

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </table>
            </div>
    </div>
</section>
<div class="col-xs-12" style="text-align:center; padding:0;">

   
    </div>
    <!-- Modal -->
    <div id="howto" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">How to pay with webmoney</h4>
                </div>
                <div class="modal-body">
                    <p>
                        @Global.WebmoneyDescription
                        
                    </p>
                    <a href="https://www.wmtransfer.com/eng/information/short/index.shtml">@Global.WebmoneyAbout</a>
                    <br />
                    <h5>@Global.WebmoneyAbout1</h5>
                    <dl>
                        <dt>@Global.WebmoneyAbout2</dt>
                        <dd>@Global.WebmoneyAbout3</dd>
                        <dt>@Global.WebmoneyAbout4 </dt>
                        <dd>@Global.IranAudioGuide</dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Global.btnClose</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="procedure" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@Global.PaymentProcedure</h4>
                </div>
                <div class="modal-body">
                    <p>
                      @Global.PaymentProcedure1  
                    </p>
                    <p>
                      @Global.PaymentProcedure2  
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Global.btnClose</button>
                </div>
            </div>
        </div>
    </div>
    
