@using IranAudioGuide_MainServer.App_GlobalResources
@{
    Layout = "~/Views/Shared/_LayouProfileWithoutAngularjs.cshtml";
    //Layout = "~/Views/Shared/_LayouProfile.cshtml";
}
    <div class="paymentPage">
        <div class="row">

            <nav class="subheader">
                <div class="nav-wrapper subheader black-text">
                    <div class="col s12">
                        <h4 style="display:inline-block"> @Global.ReceiptForInvoice</h4>
                    </div>
                </div>
            </nav>


            <div class="col s12">
                <div class="card IAGblueBack darken-1">
                    <ul class="@( ViewBag.Succeeded == true ? "successPayment" : "failePayment")">
                        <li>
                            @if (ViewBag.Succeeded == true)
                            {
                                <i class="fa fa-thumbs-o-up fa-box"></i>
                            }
                            else
                            {
                                <i class="fa fa-thumbs-o-down fa-box"></i>
                            }

                        </li>
                        <li> <h5 class="tile-msg">@Html.Raw(ViewBag.Message)</h5> </li>
                        <li><h6 class="content white-text "> @Html.Raw(ViewBag.ErrDesc)</h6> </li>

                        @if (ViewBag.Succeeded == true)
                        {
                            <li>
                                <i class="fa fa-key"></i>   @Global.ReturnPaymentReferenceID
                                <b>  @ViewBag.SaleReferenceId</b>
</li>
                            <li><i class="fa fa-briefcase"></i> @Global.PaymentPage27 <b> @ViewBag.Packname  </b></li>
                            <li><i class="fa fa-briefcase"></i> @Global.Price <b> @string.Format("{0:#,##0.##}0", ViewBag.Price) @Global.PriceSign </b> </li>
                        }
                    </ul>
                </div>
            </div>

        </div>
    </div>
