@model IranAudioGuide_Server.Models.AdminIndexVM
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Main -->
<div id="main">

    <!-- Intro -->
    <section id="top" class="one dark cover">
        <div class="container">

            <header class="text-Dark">
                <h2 class="alt">
                    Iran Audio Guide Server
                </h2>
                <p>
                    Easiest way to manage your application's audios.
                </p>
            </header>

            <footer>
                <a href="#NewPlace" class="button scrolly">Add new Place</a>
            </footer>

        </div>
    </section>

    <!-- Place list -->
    <section id="PlaceList" class="two">
        <div class="container">

            <header>
                <h2>Places</h2>
            </header>

            <p>
                Vitae natoque dictum etiam semper magnis enim feugiat convallis convallis
                egestas rhoncus ridiculus in quis risus amet curabitur tempor orci penatibus.
                Tellus erat mauris ipsum fermentum etiam vivamus eget. Nunc nibh morbi quis
                fusce hendrerit lacus ridiculus.
            </p>
            <div class="Player hidden"></div>
            <table class="default" id="placeTbl" data-action="@Url.Action("DelPlace", "Admin")">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Name</td>
                        <td>City</td>
                        <td>Desc</td>
                        <td>Audios</td>
                        <td>Remove</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="hoverable" ng-repeat="place in places">
                        <td class="LoadAudio" data-id="{{place.placeId}}">{{place.Index}}</td>
                        <td class="tdName LoadAudio" data-id="{{place.placeId}}">{{place.PlaceName}}</td>
                        <td class="LoadAudio" data-id="{{place.PlaceId}}">{{place.CityName}}</td>
                        <td class="tdDesc LoadAudio" data-id="{{place.PlaceId}}"><p>{{place.PlaceDesc}}</p></td>
                        <td>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary btn-block"
                                    data-toggle="modal" data-target="#myModal"
                                    data-audioid="{{place.PlaceId}}">
                                <span class="fa fa-edit"></span> Edit
                            </button>
                        </td>
                        <td>
                            <div role="button" tabindex="0" class="btn btn-danger btn-block rmvPlc"
                                 data-placename="{{place.PlaceName}}"
                                 data-placeid="{{place.PlaceId}}">
                                <span class="fa fa-remove"></span> Remove
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            <ul class="nav nav-tabs nav-justified">
                                <li>
                                    <a href="" ng-click="PreviousPlace()"><span class="fa fa-chevron-left"></span> Previus</a>
                                </li>
                                <li>
                                    <a class="text-primary">page {{PlaceCurrentPage + 1}} (out of {{PlacePagesLen}} pages)</a>
                                </li>
                                <li>
                                    <a href="" ng-click="NextPlace()">Next <span class="fa fa-chevron-right"></span></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </div>
    </section>

    <!-- New Audio -->
    <section id="NewPlace" class="three">
        <div class="container">

            <header>
                <h2>New Place</h2>
            </header>

            <p>
                Elementum sem parturient nulla quam placerat viverra
                mauris non cum elit tempus ullamcorper dolor. Libero rutrum ut lacinia
                donec curae mus. Eleifend id porttitor ac ultricies lobortis sem nunc
                orci ridiculus faucibus a consectetur. Porttitor curae mauris urna mi dolor.
            </p>
            @using (Html.BeginForm("AddPlace", "Admin", FormMethod.Post,
                new { enctype = "multipart/form-data", @class = "NewAudioForm", role = "form", id = "NewAudioForm" }))
            {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false, "", new { @class = "default textDanger" })
            <div class="row">
                <div class="6u 12u$(mobile)">
                    @Html.TextBoxFor(m => m.NewPlace.PlaceName, new { @placeholder = "Place name*" })
                </div>
                <div class="4u 9u(mobile)">
                    <input type="text" disabled placeholder="Place image*" id="imgUrl" />
                </div>
                <div class="2u$ 3u$(mobile) lessPading">
                    @Html.TextBoxFor(m => m.NewPlace.Image, new { type = "file", @class = "inputfile" })
                    @Html.LabelFor(m => m.NewPlace.Image, new { @class = "btn-primary" })
                </div>
                <div class="6u 12u$(mobile)">
                    @Html.DropDownListFor(m => m.NewPlace.PlaceCityId,
                           new SelectList(Model.NewPlace.Cities, "CityID", "CityName"),
                           "Select Place City*")
                </div>
                <div class="6u$ 12u$(mobile)">
                    @Html.TextBoxFor(m => m.NewPlace.PlaceCordinates, new { @placeholder = "Place Cordinates" })
                </div>
                <div class="12u$">
                    @Html.TextAreaFor(m => m.NewPlace.PlaceDesc, new { @rows = "3", @placeholder = "*Place description" })
                </div>
                <div class="12u$">
                    @Html.TextAreaFor(m => m.NewPlace.PlaceAddress, new { @rows = "1", @placeholder = "Place PlaceAddress" })
                </div>
                <div class="12u$">
                    <input type="submit" value="Add place" />
                </div>
            </div>
            }
        </div>
    </section>

    <!-- Cities List -->
    <section id="Cities" class="four">
        <div class="container">

            <header>
                <h2>Cities</h2>
            </header>

            <p>
                Vitae natoque dictum etiam semper magnis enim feugiat convallis convallis
                egestas rhoncus ridiculus in quis risus amet curabitur tempor orci penatibus.
                Tellus erat mauris ipsum fermentum etiam vivamus eget. Nunc nibh morbi quis
                fusce hendrerit lacus ridiculus.
            </p>
            <table class="default" id="ctyTbl" data-action="@Url.Action("DelCity", "Admin")">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Name</td>
                        <td>Description</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="city in cities">
                        <td>{{city.Index}}</td>
                        <td>{{city.CityName}}</td>
                        <td><p>{{city.CityDesc}}</p></td>
                        <td>
                            <div role="button" tabindex="0" class="btn btn-danger btn-block rmvCty" data-CityName="{{city.CityName}}" data-CityId="{{city.CityID}}">
                                <span class="fa fa-remove"></span> Remove
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            <ul class="nav nav-tabs nav-justified">
                                <li>
                                    <a href="" ng-click="PreviousCity()"><span class="fa fa-chevron-left"></span> Previus</a>
                                </li>
                                <li>
                                    <a class="text-primary">page {{CityCurrentPage + 1}} (out of {{PlacePagesLen}} pages)</a>
                                </li>
                                <li>
                                    <a href="" ng-click="NextCity()">Next <span class="fa fa-chevron-right"></span></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <div class="col-md-12">

                <div class="divider dashed">

                    <span class="editContent">Add new City</span>

                </div><!-- /.divider -->

            </div><!-- /.col -->
            @using (Html.BeginForm("AddCity", "Admin", FormMethod.Post,
                new { @class = "NewCityForm", role = "form", id = "NewCityForm" }))
            {
                @*@Html.ValidationSummary(false, "", new { @class = "default textDanger" })*@
                <div id="NewCityValidation" class="12u$ text-danger hidden">City name must be fill.</div>
                <div class="row">
                    <div class="6u$ 12u$(mobile)">
                        @Html.TextBoxFor(m => m.NewCity.CityName, new { @placeholder = "City name*" })
                    </div>
                    <div class="12u$">
                        @Html.TextAreaFor(m => m.NewCity.CityDesc, new { @rows = "2", @placeholder = "City description" })
                    </div>
                    <div class="12u$">
                        <input type="submit" value="Add City" />
                    </div>
                </div>
            }
        </div>
    </section>
    <!-- Modal -->
    <div class="modal fade" id="ForignKeyErrorModal" tabindex="-1" role="dialog" aria-labelledby="ForignKeyErrorModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-danger">Removing Failed</div>
                <div class="modal-body" id="ForignKeyErrorModal_body"></div>
                <div class="modal-footer">
                    <button type="button" id="ForignKeyErrorModal_close" class="btn btn-info" data-dismiss="modal">Close</button>
                    <button type="button" id="ForignKeyErrorModal_Delete" class="btn btn-danger" data-id="">Delete with all audios</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal2 -->
    @*<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>*@

</div>