@{
    Layout = null;
}
@using Resources
<div class="alert  alert-success" ng-show="m.isShowMessage">
    <strong> Success!</strong> {{m.msg}}
</div>
<div class="deactivatedDevice">      
        <div class="caption caption-md">
            <span class="caption-subject font-blue-madison bold uppercase deactivationHeader">Want to change your device?</span>

        </div>
        <div>
            <ul>
                <li>
                    @Global.PageProfile13 <strong> @Global.PageProfile14</strong> @Global.PageProfile15 
                </li>
                <li>
                    @Global.PageProfile16
                </li>
                <li>
                    <strong>@Global.PageProfile17</strong>@Global.PageProfile18 
                </li>
            </ul>

            <button type="button" ng-disabled="!user.IsAccessChangeUuid"
                    ng-show="user.IsSetuuid"
                    class="btn btn-circle orange-haze btn-sm"
                    ng-click="deactivateMobile()">
               @Global.PageProfile19
            </button>
            <div class="alert alert-info" ng-show="!user.IsSetuuid">
                @Global.PageProfile2
            </div>
        </div>
    </div>
