@{
    Layout = null;
}
@using IranAudioGuide_MainServer.App_GlobalResources

<style>
    .btn-get-pack a {
        color: #26a69a;
        border-color: #32c5d2;
        background: 0 0;
        padding: 0 14px;
    }

        .btn-get-pack a:hover {
            border-color: #32c5d2;
            color: #FFF;
            background-color: #32c5d2;
        }


    .btn-large[disabled] {
        line-height: 35px;
    }

    .pakage .card-action i.material-icons.dp48 {
        position: relative;
        top: 6px;
    }
</style>
<div class="row">

    <div class="col s12">
        <div class="card darken-1 pakage" ng-repeat="pack in profile.packages">
            <div class="card-content">
                <span class="card-title"><i class="fa fa-cart-plus"></i> {{pack.PackageName}}</span>
                @*<blockquote>
                        {{pack.PackDescription}}
                    </blockquote>*@

                <ul class="collapsible popout" data-collapsible="accordion" watch>
                    <li ng-repeat="city in pack.PackageCities">
                        <div class="collapsible-header">
                            <ul class="collection">
                                <li class="collection-item avatar" ng-click="OpenCollapsibleBody(city)">
                                    <p ng-show="isloadImage" class="loading">

                                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                                        <span class="sr-only">Loading...</span>
                                    </p>
                                    <img ng-src="{{city.CityImageUrl}}" alt="" class="circle">

                                    <blockquote>
                                        <span class="title">{{city.CityName}}</span>
                                        <p>
                                            {{city.CityDesc}}<br />
                                            <span class="badge"><span class="fa fa-map-marker"></span> {{city.TotalCountPlace}}</span>
                                            <span class="badge"><span class="fa fa-headphones"></span> {{city.TotalTrackCount}}</span>
                                        </p>
                                    </blockquote>
                                    <a href="#!" class="secondary-content hide-on-small-and-down"><i class="fa fa-ellipsis-v"></i></a>
                                </li>
                            </ul>

                        </div>
                        <div class="collapsible-body">
                            <ul class="collection">
                                <li class="collection-item avatar" ng-repeat="place in city.Places">
                                    <p ng-show="city.IsloadImage " class="loading">
                                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                                        <span class="sr-only">Loading...</span>
                                    </p>
                                    <img ng-src="{{place.ImgUrl}}" alt="" class="circle">
                                    <span class="title">{{place.PlaceName}}</span>
                                    <p>
                                        <span class="badge"><span class="fa fa-headphones"></span> {{place.StoriesCount + place.AudiosCount}} </span>

                                    </p>


                                    <span class="secondary-content hide-on-small-and-down btn-get-pack">

                                        @*<a href="javascript:;" ng-click="OpenModal(place, true)" class="btn btn-icon-only">
                                            <i class="material-icons right">add</i>Get
                                        </a>*@

                                        <a href="javascript:;" ng-click="OpenModal(place, true)" ng-show="place.IsPurchased == false " class="btn btn-icon-only">
                                            <i class="material-icons right">add</i>@Global.btnBuy
                                        </a>
                                        <a href="javascript:;" ng-disabled="true" ng-show="place.IsPurchased == true " class="btn btn-icon-only">
                                            <i ng-show="place.IsFree != true" class="material-icons dp48">check</i> <span ng-show="place.IsFree == true"> @Global.Free </span>
                                        </a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="card-action">
                <a href="#!" ng-show="pack.IsPurchased == false" ng-click="OpenModal(pack, false)" class="waves-effect waves-light btn-large z-depth-3">
                    <i class="material-icons right">add</i>@Global.btnBuy
                </a>
                <a href="#!" ng-disabled="true" ng-show="pack.IsPurchased == true" class="waves-effect waves-light btn-large z-depth-3">
                    <i class="material-icons dp48">check</i> @Global.btnPurchased
                </a>
            </div>
        </div>
    </div>
</div>



<!-- Modal Structure -->
<div id="modal1" class="modal bottom-sheet PaymentModal">
    <div class="modal-content">
        <h4>@Global.PaymentGateway</h4>
        <p>@Global.PaymentGatewayInfo <b class="IAGgreenColor">{{itemPack.PackageName}}</b> @Global.Packages </p>
        <ul class="collection">
            <li class="collection-item avatar">
                <a href="#!" ng-click="buyPakages(2)">
                    <img src="http://iranaudioguide.net/Images/WebMoneyLogo.png" alt="" class="circle">
                    <span class="title webmoneyColor">@Global.WebMoney</span><br />
                    <div class="btn"> {{itemPack.PackagePriceDollar}}</div>
                    <i class="secondary-content fa fa-chevron-right fa-2x"></i>
                </a>
            </li>
            <li class="collection-item avatar">
                <a href="#!" ng-click="buyPakages(1)">
                    <img src="http://iranaudioguide.net/Images/ShetabLogo.jpg" alt="" class="circle">
                    <span class="title shetabColor">@Global.Shetab</span><br />
                    <div class="btn">{{itemPack.PackagePrice}} @Global.PriceSign</div>
                    <i class="secondary-content fa fa-chevron-right fa-2x"></i>
                </a>
            </li>

            <li class="collection-item avatar">
                <a href="#!" ng-click="buyPakages(0)">
                    <img src="http://iranaudioguide.net/Images/Mellat-Bank-logo.png" alt="" class="circle">
                    <span class="title shetabColor">@Global.MellatBank</span><br />
                    <div class="btn">{{itemPack.PackagePrice}} @Global.PriceSign</div>
                    <i class="secondary-content fa fa-chevron-right fa-2x"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <a href="#!" onclick="closeModal()" class="modal-action modal-close waves-effect waves-green btn-flat">@Global.btnCancel</a>
    </div>
</div>
