@using IranAudioGuide_Server.Models
@{
    string downloadSection = (ViewBag.View == null) ? "/Home/Index/#cta" : ((Views)ViewBag.View == Views.Index) ? "#cta" : "/Home/Index/#cta";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="~/Content/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="~/Content/ie9.css" /><![endif]-->
    <link rel="stylesheet" href="~/Content/Custom.css" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="landing">
    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header" class="alt">
            <h1><a href="index.html">Iran Audio Guide</a></h1>
            <nav id="nav">
                <ul>
                    <li class="special">
                        <a href="#menu" class="menuToggle"><span>Menu</span></a>
                        <section id="menu">
                            <ul>
                                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                                <li><a href="@downloadSection">Download</a></li>
                                <li><a href="@Url.Action("Register","Account")">Register</a></li>
                                <li><a href="@Url.Action("Login","Account")">Log in</a></li>
                            </ul>
                        </section>
                    </li>
                </ul>
            </nav>
        </header>

        @RenderBody()


    </div>

    <!-- Scripts -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.scrollex.min.js"></script>
    <script src="~/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/assets/js/skel.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="~/assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/assets/js/main.js"></script>


    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>
