@model IranAudioGuide_MainServer.Models.PymentIndexAppVM
@using IranAudioGuide_MainServer.App_GlobalResources
@using IranAudioGuide_MainServer.Models
@{
    Layout = "~/Views/Shared/_PaymentLayout.cshtml";
}

<div class="container-fluid">
    <!-- Image and text -->
    <nav class="navbar navbar-ligth pt-0">
        <div class="navbar-brand pt-0">
            @*d-inline-block*@
            <img src="~/images/IAGSITELOGO.png" class="navImg" alt="@Global.IranAudioGuide" />
            <span class="align-middle navHeader">@Global.IranAudioGuide</span>
        </div>
    </nav>

    <div class="jumbotron my-3">

        <!--<p class="lead">Cities Included</p>-->
        <div class="mt-4 ml-4">
            @if (Model.PackageCities != null)
            {
                <h3 class="titel-package mb-4">  @Model.Name </h3>

                <h4><i class="fa fa-briefcase"></i> @Global.PackageInfo</h4>
                foreach (var item in Model.PackageCities)
                {
                    <div class="mt-2">
                        <h5 class="d-inline-block">
                            <i class="fa fa-map"></i> @item.CityName
                        </h5>
                        <br class="hidden-sm-up" />
                        <h6 class="d-inline-block pl-3">
                            <span class="fa fa-map-marker badge badge-default"> @item.PlaceCount </span>
                        </h6>
                        <h6 class="d-inline-block">
                            <span class="fa fa-microphone badge badge-default"> @item.TrackCount</span>
                        </h6>
                        <p>
                            @item.CityDesc
                        </p>
                    </div>
                }
            }
            else if (Model.IsPlace)
            {
                <div class="mt-2">
                    <h5 class="d-inline-block">
                        <i class="fa fa-map"></i> @Model.Name
                    </h5>
                    <br class="hidden-sm-up" />

                    <h6 class="d-inline-block">
                        <span class="fa fa-microphone badge badge-default"> @Model.TrackCount</span>
                    </h6>
                    <p>
                        @Model.Desc
                    </p>
                </div>
            }
        </div>

        <hr class="my-4">
        <h4><i class="fa fa-credit-card-alt"></i> @Global.PaymentPage30</h4>

        <div class="my-4 mx-2">
            <div class="row py-2">
                <h5 class="d-inline-block col-12 col-sm-3">@Global.PaymentGateway</h5>
                <div class="offset-2 col-8 col-sm-6">

                    @if (ViewBag.ChooesBank == EnumBankName.Webmoney)
                    {
                        <img src="~/images/WebMoney-logo-white_8.png" class="rounded w-100" style="background-color:#006dae">
                    }
                    else
                    {
                        <img style="width: 48%; margin-right: 19%" src="http://iranaudioguide.net/Images/Mellat-Bank-logo.png" alt="" class="circle">
                    }
                </div>
            </div>
            <div class="row py-2">
                <h5 class="d-inline-block col-12 col-sm-3">@Global.PaymentPage25</h5>
                <div class="offset-2 col-8 col-sm-6">
                    @if (ViewBag.ChooesBank == EnumBankName.Webmoney)
                    {
                        <div class="bg-primary rounded priceValue text-center">
                            <h5>@string.Format("{0:#,##0.##}", Model.PriceDollar)<i class="fa fa-usd"></i></h5>
                        </div>
                    }
                    else
                    {
                        <div class="bg-primary rounded priceValue text-center">
                            <h5> @string.Format("{0:#,##0.##}0", Model.Price) @Global.PriceSign</h5>
                        </div>
                    }

                </div>`
            </div>
        </div>
        <p>@Global.PaymentPage31</p>
        <p> @Html.Raw(Global.PaymentEmailInfo)</p>
        <p class="lead">

            @if (ViewBag.ChooesBank == EnumBankName.Webmoney)
            {
                <a class="waves-effect waves-light btn z-depth-1 "
                   role="button"
                   href="@Url.Action("Purchase", "Payment",new { packageId = Model.Id,bankName= (int) EnumBankName.Webmoney, isPlace = ViewBag.IsPlace, isFromWeb = false })">
                    <i class="fa fa-check-square-o"></i>&nbsp;@Global.btnPurchase
                </a>
            }
            else
            {
                <a class="waves-effect waves-light btn z-depth-1 "
                   role="button"
                   href="@Url.Action("Purchase", "Payment", new { packageId = Model.Id,bankName= (int) EnumBankName.Mellat, isPlace = ViewBag.IsPlace, isFromWeb = false})">
                    <i class="fa fa-check-square-o"></i>&nbsp;@Global.btnPurchase
                </a>
            }

            <a class="btn btn-default btn-responsive float-right"
               href="mobile/close" role="button">
                @Global.btnCancel
            </a>
            @*style="text-decoration:none; color:#000;"*@

        </p>
        <div class="clearfix"></div>
    </div>
</div>